<div
  class="container grid gap-4 px-3 mx-auto overflow-auto overflow-x-auto text-center lg:grid-cols-1 rounded-xl"
>
  <div >
    <p class="p-3" *ngIf="artist.sets.length === 0">
      No hay ningun set para {{ artist.name }}
    </p>

    <div class="flex justify-center">
      <div *ngFor="let set of artist.sets">
        <div
          class="flex flex-col w-40 p-2 py-4 cursor-pointer hover:opacity-90"
        >
          <img
            [src]="set.image"
            alt="set.name"
            class="object-cover h-32 rounded-2xl"
          />
          <p class="p-2 text-xs text-center">{{ set.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
