<nav class="bg-white border-b dark:bg-black dark:border-b dark:border-b-gray-700">
  <div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" (click)="openOrCloseMenu()"
          class="inline-flex items-center justify-center p-2 text-black rounded-2xl hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu" aria-expanded="false">
          <svg class="block w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg class="hidden w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex items-center justify-center flex-1 sm:items-stretch sm:justify-start">
        <div class="flex items-center flex-shrink-0">
          <img class="block w-auto h-9 lg:hidden" src="assets/images/logo-negro.png" alt="XSMusic">
          <img class="hidden w-auto h-9 lg:block" src="assets/images/logo-negro.png" alt="XSMusic">
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a *ngFor="let menu of menuItems" [routerLink]="menu.route" routerLinkActive="bg-red-700 text-white"
              class="px-3 py-2 text-sm font-medium rounded-2xl dark:text-white hover:bg-red-700 hover:text-white"
              aria-current="page">{{ menu.name }}</a>
          </div>
        </div>
      </div>
      <div *ngIf="!searchPage" class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <div>
            <button type="button" (click)="openOrCloseSearchBar()"
              class="flex p-2 text-sm text-black rounded-2xl hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
              id="user-menu-button" aria-expanded="false" aria-haspopup="true">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
              </svg>
            </button>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div *ngIf="menuState" class="sm:hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <a *ngFor="let menu of menuItems" (click)="openOrCloseMenu()" [routerLink]="menu.route"
        routerLinkActive="bg-gray-900 text-gray-100" class="block px-3 py-2 text-base font-medium text-black rounded-2xl"
        aria-current="page">{{ menu.name }}</a>
    </div>
  </div>

</nav>
<div *ngIf="searchBarState" class="p-4">
  <search-bar @inOut (closeSearch)="searchBarState = false"></search-bar>
</div>
