<nav *ngIf="!hidden" class="fixed inset-x-0 z-50 bg-white">
  <div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <navbar-normal-menu
      [menuItems]="menuItems"
      [menuItemsAdmin]="menuItemsAdmin"
      [adminPage]="adminPage"
      [menuProfileState]="menuProfileState"
      [menuProfileItems]="menuProfileItems"
      [user]="user"
      (toggleMenu)="toggleMenu()"
      (goToHomeOrAdmin)="goToHomeOrAdmin()"
      (onClickMenuProfileItem)="onClickMenuProfileItem($event)"
    ></navbar-normal-menu>
    <!-- mobile menu -->
    <navbar-mobile-menu
      [menuItems]="menuItems"
      [menuItemsAdmin]="menuItemsAdmin"
      (toggleMenu)="toggleMenu()"
    ></navbar-mobile-menu>
  </div>
</nav>
