<ng-container *ngIf="!loading">
  <h1 @inOut class="py-3 text-lg font-extrabold">Ultimos artistas</h1>

  <div class="flex gap-3 overflow-x-scroll">
    <div *ngFor="let artist of artists">
      <div @inOut class="flex flex-col w-20 py-2 text-center hover:opacity-90">
        <img
          [src]="artist.images![0].url ?? '' | image"
          class="object-cover w-full h-20 rounded-full shadow-lg cursor-pointer hover:filter-grayscale hover:scale-110 hover:duration-1000"
          alt="artist.name"
          (click)="goToArtistProfile(artist.slug!)"
          onError
        />
        <p class="pt-2 text-xs font-light text-gray-500 cursor-pointer">
          {{ artist.name }}
        </p>
      </div>
    </div>
  </div>
</ng-container>
