<div class="container px-6 py-12 md:mx-auto" style="height: 80%">
  <div
    class="flex flex-wrap items-center justify-center h-full text-gray-800 g-6"
  >
    <div class="mb-12 md:w-8/12 lg:w-6/12 md:mb-0">
      <img src="assets/images/login.svg" class="w-full" alt="Phone image" />
    </div>
    <div class="w-full px-1 md:w-8/12 lg:w-5/12 lg:ml-20">
      <form>
        <!-- Email input -->
        <div class="mb-6">
          <input
            type="text"
            name="email"
            [(ngModel)]="email"
            class="block w-full px-4 py-2 m-0 text-xl font-normal text-gray-700 transition ease-in-out bg-white border border-gray-300 border-solid rounded form-control bg-clip-padding focus:text-gray-700 focus:bg-white focus:border-gray-600 focus:outline-none"
            placeholder="Email"
          />
        </div>

        <!-- Password input -->
        <div class="mb-6">
          <input
            type="password"
            name="password"
            [(ngModel)]="password"
            autocomplete="on"
            class="block w-full px-4 py-2 m-0 text-xl font-normal text-gray-700 transition ease-in-out bg-white border border-gray-300 border-solid rounded form-control bg-clip-padding focus:text-gray-700 focus:bg-white focus:border-border-600 focus:outline-none"
            placeholder="Contraseña"
          />
        </div>

        <div class="flex items-center justify-between mb-6">
          <div class="form-group form-check"></div>
          <a
            (click)="wip()"
            class="text-black transition duration-200 ease-in-out cursor-pointer dark:text-white hover:text-gray-700 focus:text-gray-700 active:text-gray-800"
            >¿Contraseña olvidada?</a
          >
        </div>

        <!-- Submit button -->
        <button
          type="submit"
          (click)="loginEmail()"
          class="inline-block w-full py-3 text-sm font-medium leading-snug text-white uppercase transition duration-150 ease-in-out bg-black rounded shadow-md dark:bg-red-600 dark:text-dark px-7 hover:bg-gray-800 hover:shadow-lg active:bg-gray-800 active:shadow-lg"
          data-mdb-ripple="true"
          data-mdb-ripple-color="light"
        >
          Entrar
        </button>

        <div
          class="flex items-center my-4 before:flex-1 before:border-t before:border-gray-300 before:mt-0.5 after:flex-1 after:border-t after:border-gray-300 after:mt-0.5"
        >
          <p class="mx-4 mb-0 font-semibold text-center dark:text-white">O</p>
        </div>

        <a
          class="flex items-center justify-center w-full py-3 mb-3 text-sm font-medium leading-snug text-black uppercase transition duration-150 ease-in-out border rounded shadow-md cursor-pointer before:bg-gray-300 px-7 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg"
          style="background-color: #fff"
          (click)="wip()"
        >
          <svg-icon
            name="google-colors"
            [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"
            class="pr-2 mr-2"
          ></svg-icon>
          Entrar con Google
        </a>
      </form>
    </div>
  </div>
</div>
