<header-custom [title]="'Artistas'" [breadcrumb]="false"></header-custom>

<div class="container px-4 pt-3 mx-auto max-w-full-xl sm:pb-0 max-w-7sm">

  <artists-buttons-block (changeView)="changeView($event)"></artists-buttons-block>

  <artists-list-view *ngIf="view === 'list'" [artists]="artists" (goToProfile)="goToProfile($event)">
  </artists-list-view>

  <artists-gallery-view *ngIf="view === 'gallery'" [artists]="artists" (goToProfile)="goToProfile($event)">
  </artists-gallery-view>
</div>
