<header-custom [title]="'Artistas'" [breadcrumb]="false"></header-custom>

<div class="container px-4 pt-3 mx-auto max-w-full-xl sm:pb-0 max-w-7sm">
  <artists-buttons [viewButtons]="true" (changeView)="changeView($event)" (search)="search($event)"></artists-buttons>

  <alert
    type="info"
    message="Filtro activado."
    actionText="Quitar"
    (action)="removeFilter()"
    *ngIf="body.filter && body.filter.length > 0"
  ></alert>

  <artists-view-list
    *ngIf="view === 'list'"
    [artists]="artists"
    [loading]="loading"
    (goToProfile)="goToProfile($event)"
    (filter)="filter($event)"
    (onScroll)="onScroll()"
  >
  </artists-view-list>

  <artists-view-gallery
    *ngIf="view === 'gallery'"
    [artists]="artists"
    [loading]="loading"
    (goToProfile)="goToProfile($event)"
    (onScroll)="onScroll()"
  >
  </artists-view-gallery>
</div>
