<div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
  <div class="group relative pointer" *ngFor="let artist of artists" (click)="goToProfile.emit(artist._id)">
    <div class="min-h-60  w-full overflow-hidden rounded-lg bg-gray-200 group-hover:filter-grayscale sm:h-60">
      <img [src]="artist.image" [alt]="artist.name"
        class="h-full w-full object-cover object-center lg:h-full lg:w-full">
    </div>
    <div class="mt-4 flex justify-between">
      <div>
        <h3 class="text-medium py-1 text-gray-700 dark:text-white">
          <a>
            <span aria-hidden="true" class="absolute inset-0"></span>
            {{ artist.name }}
          </a>
        </h3>
        <span *ngFor="let style of artist.styles | slice: 0:3"
          class="mh-12 text-xs py-1 px-2.5 leading-none text-center font-bold bg-red-700 text-white rounded mr-1">
          {{ style }}
        </span>
      </div>
      <p class="text-sm font-medium text-gray-900">
        <img [src]="artist.country | countryFlag" [alt]="artist.country">
      </p>
    </div>
  </div>
</div>
