<div *ngIf="artist" class="overflow-hidden border shadow-lg rounded-2xl">
  <div class="w-full py-2 font-extrabold text-center border-b">Información</div>

  <div class="grid gap-0 p-3 grid-col-2 md:grid-cols-2">
    <div class="py-1 mx-4" *ngFor="let item of information">
      <div class="grid grid-cols-2">
        <p class="font-bold">{{ item.name }}</p>
        <p *ngIf="item.type === 'name'">
          {{ item.value !== '' ? item.value : 'No
          disponible' }}
        </p>
        <p *ngIf="item.type === 'gender'">
          {{ item.value === 'male' ? 'Hombre' : 'Mujer' }}
        </p>
        <div class="flex gap-2" *ngIf="item.type === 'country'">
          <img
            class="w-6 cursor-pointer"
            [src]="item.value | countryFlag"
            alt="item.name"
          />
          {{ item.value | countryName }}
        </div>
        <div class="grid-cols-2" *ngIf="item.type === 'styles'">
          <p *ngIf="item.value.length === 0">No disponible</p>
          <span *ngFor="let valueArray of item.value; index as i">
            <a
              class="px-2 py-1 text-xs bg-gray-100 border border-gray-100 shadow-md rounded-2xl"
              routerLink="/home"
            >
              {{ valueArray.name }}
            </a>
          </span>
        </div>
        <p *ngIf="item.type === 'birthdate'">
          {{
            item.value !== '' ? (item.value | date: 'dd-MM-Y') : 'No disponible'
          }}
          {{ item.value !== '' ? '(' + getYearsOld(item.value) + ')' : '' }}
        </p>
      </div>
    </div>
  </div>
</div>
