<div
  class="container px-4 pt-12 mx-auto max-w-full-xl sm:pb-0 max-w-7sm"
  style="padding-top: 4.25rem"
>
  <last-artists
    [artists]="vm.artists"
    [loading]="vm.loading"
    [error]="vm.error"
    (goTo)="goTo($event)"
  ></last-artists>

  <last-media
    [sets]="vm.sets"
    [tracks]="vm.tracks"
    [loadingSets]="vm.loading"
    [loadingTracks]="vm.loading"
    [errorSets]="vm.error"
    [errorTracks]="vm.error"
    (goTo)="goTo($event)"
  ></last-media>

  <div class="lg:grid lg:grid-cols-12">
    <div class="my-2 lg:col-span-12">
      <last-events
        [events]="vm.events"
        [loading]="vm.loading"
        [error]="vm.error"
        (goTo)="goTo($event)"
      ></last-events>
    </div>
  </div>

  <br />
  <div class="lg:grid lg:grid-cols-2">
    <last-sites
      [sites]="vm.clubs"
      [loading]="vm.loading"
      [error]="vm.error"
      type="club"
      (goTo)="goTo($event)"
    ></last-sites>
    <last-sites
      [sites]="vm.festivals"
      [loading]="vm.loading"
      [error]="vm.error"
      type="festival"
      (goTo)="goTo($event)"
    ></last-sites>
  </div>
</div>
