<div class="container px-4 pt-3 mx-auto max-w-full-xl sm:pb-0 max-w-7sm">
  <artists-last-block></artists-last-block>

  <div class="lg:grid lg:grid-cols-12">
    <div class="my-2 lg:col-span-12">
      <last-media></last-media>
    </div>

    <!-- <div class="my-2 lg:col-span-2">
      <top-countries></top-countries>
    </div> -->
  </div>

  <br />
  <div class="lg:grid lg:grid-cols-2">
    <sites-last-block type="club"></sites-last-block>
    <sites-last-block type="festival"></sites-last-block>
  </div>

  <div *ngxPermissionsExcept="['ADMIN', 'USER']">
    <div class="flex gap-2">
      <button
        class="px-4 py-2 text-white bg-red-500 border rounded-2xl"
        (click)="loginAdmin()"
      >
        Login Admin
      </button>
      <button
        class="px-4 py-2 text-white bg-blue-500 border rounded-2xl"
        (click)="loginUser()"
      >
        Login User
      </button>
    </div>
  </div>
</div>
