<header-custom [title]="title"></header-custom>

<div class="container px-4 pt-3 mx-auto max-w-full-xl sm:pb-0 max-w-7sm">
  <buttons-block type="artistAdmin"></buttons-block>

  <form class="grid grid-cols-2 gap-4 lg:grid-cols-2">
    <div class="col-span-2 mb-1 md:col-span-1">
      <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
        Nombre
      </label>
      <input
        name="name"
        type="text"
        (keydown.enter)="$event.preventDefault(); onKeyUpName($event)"
        [(ngModel)]="artist.name"
        placeholder="Introduce el nombre"
        class="w-full px-6 py-3 text-base font-medium bg-white border border-gray-200 rounded-md"
      />
    </div>

    <div class="col-span-2 mb-1 md:col-span-1">
      <label
        for="country"
        class="mb-3 flex gap-2 text-base font-medium text-[#07074D]"
      >
        Pais
        <img
          *ngIf="artist.country !== ''"
          [src]="artist.country! | countryFlag"
          [alt]="artist.country"
        />
      </label>
      <select
        name="country"
        type="text"
        [(ngModel)]="artist.country"
        placeholder="Introduce el codigo del pais"
        class="w-full px-6 py-3 text-base font-medium bg-white border border-gray-200 rounded-md"
      >
        <option *ngFor="let countryItem of countries" [value]="countryItem.id">
          {{ countryItem.name }}
        </option>
      </select>
    </div>

    <div class="col-span-2 mb-1 md:col-span-1">
      <label
        for="birthdate"
        class="mb-3 block text-base font-medium text-[#07074D]"
      >
        Fecha nacimiento
      </label>
      <input
        name="birthdate"
        type="text"
        [(ngModel)]="artist.birthdate"
        placeholder="Introduce la fecha de nacimiento en formato ingles"
        class="w-full px-6 py-3 text-base font-medium bg-white border border-gray-200 rounded-md"
      />
    </div>

    <div class="col-span-2 mb-1 md:col-span-1">
      <label
        for="gender"
        class="mb-3 block text-base font-medium text-[#07074D]"
      >
        Genero
      </label>
      <select
        name="gender"
        type="text"
        [(ngModel)]="artist.gender"
        placeholder="Introduce el Genero"
        class="w-full px-6 py-3 text-base font-medium bg-white border border-gray-200 rounded-md"
      >
        <option value="male">Hombre</option>
        <option value="female">Mujer</option>
        <option value="various">Varios</option>
      </select>
    </div>

    <div class="col-span-2 mb-1">
      <label class="mb-3 block text-base font-medium text-[#07074D]">
        <span class="text-gray-700">Estilos</span>
      </label>
      <div class="flex gap-2 my-2">
        <span
          (click)="onClickStyleItem(styleSelected)"
          class="px-2 py-1 text-xs bg-gray-100 border shadow-md cursor-pointer rounded-2xl"
          *ngFor="let styleSelected of artist.styles"
        >
          {{ styleSelected.name }}
        </span>
      </div>
      <select
        class="w-full px-6 py-3 text-base font-medium bg-white border border-gray-200 rounded-md form-multiselect"
        (change)="onChangeStyleSelect($event)"
      >
        <option *ngFor="let style of styles" [value]="style._id">
          {{ style.name }}
        </option>
      </select>
    </div>

    <div class="col-span-2 mb-1">
      <label
        for="image"
        class="mb-3 block text-base font-medium text-[#07074D]"
      >
        Imagen
      </label>
      <input
        name="image"
        type="text"
        [(ngModel)]="artist.image"
        placeholder="Introduce la imagen"
        class="object-cover w-full px-6 py-3 text-base font-medium bg-white border border-gray-200 rounded-md"
      />
      <div
        class="grid grid-cols-2 mt-2 overflow-hidden cursor-pointer"
      >
        <div *ngFor="let image of scraping.images" class="p-2">
          <img
            class="object-cover w-full m-2 shadow-xl h-60 hover:filter-grayscale rounded-2xl"
            [src]="image"
            [alt]="image"
            (click)="showImage(image)"
          />
          <button
            (click)="selectImage(image)"
            class="w-full p-2 m-2 text-black bg-gray-100 shadow-md rounded-xl hover:bg-gray-200"
            [ngClass]="{'bg-green-500 hover:bg-green-600': image === artist.image}"
          >
            Seleccionar
          </button>
        </div>
      </div>
    </div>

    <div class="col-span-2 mb-1 md:col-span-1">
      <label for="web" class="mb-3 block text-base font-medium text-[#07074D]">
        Web
      </label>
      <input
        name="web"
        type="text"
        [(ngModel)]="artist.social.web"
        placeholder="Introduce la web"
        class="w-full px-6 py-3 text-base font-medium bg-white border border-gray-200 rounded-md"
      />
    </div>
    <div class="col-span-2 mb-1 md:col-span-1">
      <label
        for="facebook"
        class="mb-3 block text-base font-medium text-[#07074D]"
      >
        Facebook
      </label>
      <input
        name="facebook"
        type="text"
        [(ngModel)]="artist.social.facebook"
        placeholder="Introduce facebook"
        class="w-full px-6 py-3 text-base font-medium bg-white border border-gray-200 rounded-md"
      />
    </div>
    <div class="col-span-2 mb-1 md:col-span-1">
      <label
        for="twitter"
        class="mb-3 block text-base font-medium text-[#07074D]"
      >
        Twitter
      </label>
      <input
        name="twitter"
        type="text"
        [(ngModel)]="artist.social.twitter"
        placeholder="Introduce twitter"
        class="w-full px-6 py-3 text-base font-medium bg-white border border-gray-200 rounded-md"
      />
    </div>
    <div class="col-span-2 mb-1 md:col-span-1">
      <label
        for="soundcloud"
        class="mb-3 block text-base font-medium text-[#07074D]"
      >
        Soundcloud
      </label>
      <input
        name="soundcloud"
        type="text"
        [(ngModel)]="artist.social.soundcloud"
        placeholder="Introduce soundcloud"
        class="w-full px-6 py-3 text-base font-medium bg-white border border-gray-200 rounded-md"
      />
    </div>
    <div class="col-span-2 mb-1 md:col-span-1">
      <label
        for="spotify"
        class="mb-3 block text-base font-medium text-[#07074D]"
      >
        Spotify
      </label>
      <input
        name="spotify"
        type="text"
        [(ngModel)]="artist.social.spotify"
        placeholder="Introduce spotify"
        class="w-full px-6 py-3 text-base font-medium bg-white border border-gray-200 rounded-md"
      />
    </div>

    <div class="col-span-2 mb-1">
      <label for="info" class="mb-3 block text-base font-medium text-[#07074D]">
        Info
      </label>
      <textarea
        name="info"
        type="text"
        [(ngModel)]="artist.info"
        placeholder="Introduce el codigo del pais"
        class="w-full px-6 py-3 text-base font-medium bg-white border border-gray-200 rounded-md"
        rows="5"
      ></textarea>
      <div
        class="grid grid-cols-1 mt-2 overflow-hidden cursor-pointer lg:grid-cols-2 rounded-2xl"
      >
        <div
          class="px-3 py-2 mx-1 my-1 border rounded-lg"
          *ngFor="let info of scraping.infos"
        >
          <p (click)="showInfo(info)">{{ info | truncateText: 100 }}</p>
          <button
            (click)="selectInfo(info)"
            class="w-full p-2 mt-2 text-black bg-gray-100 shadow-md hover:bg-gray-200 rounded-xl"
            [ngClass]="{'bg-green-500 hover:bg-green-600': info === artist.info}"
          >
            Seleccionar
          </button>
        </div>
      </div>
    </div>

    <div class="col-span-2 mb-1 md:col-span-2">
      <label
        for="slug"
        class="mb-3 block text-base font-medium text-[#07074D]"
      >
        Spotify
      </label>
      <input
        name="slug"
        type="text"
        [(ngModel)]="artist.slug"
        placeholder="Introduce slug"
        class="w-full px-6 py-3 text-base font-medium bg-white border border-gray-200 rounded-md"
      />
    </div>

    <!-- Actions Buttons -->
    <div class="col-span-2 mb-2">
      <button
        type="submit"
        (click)="onSubmit()"
        class="w-full py-1 m-1 text-white bg-green-500 border-green-500 shadow-md md:w-32 rounded-2xl hover:bg-green-600 hover:border-green-600'"
      >
        Guardar
      </button>
      <button
        type="button"
        *ngIf="artist._id"
        (click)="onDelete()"
        class="w-full py-1 m-1 text-white bg-red-500 border-2 border-red-500 shadow-md hover:bg-red-600 hover:border-red-600 hover:text-white md:w-32 rounded-2xl"
      >
        Eliminar
      </button>

      <button
        type="button"
        *ngIf="artist._id"
        [routerLink]="['/artists/profile/', artist.slug]"
        class="w-full py-1 m-1 text-white bg-blue-500 border-2 border-blue-500 shadow-md hover:bg-blue-600 hover:border-blue-600 hover:text-white md:w-32 rounded-2xl"
      >
        Ver perfil
      </button>
    </div>
  </form>
</div>
