<header-custom [title]="vm.title"></header-custom>
<div class="container px-4 pt-3 mx-auto max-w-full-xl sm:pb-0 max-w-7sm">
  <tabs [type]="vm.typeTabs" (onClickTab)="onClickTab($event)"></tabs>

  <div *ngIf="type === 'artist'">
    <admin-artist-one
      *ngIf="vm.view === 'viewInfo'"
      [artist]="vm.artist"
      [scraping]="vm.scraping"
      (onSubmit)="onSubmit()"
      (showImage)="showImage($event)"
      (removeImage)="removeImage($event)"
      (setFirstImage)="setFirstImage($event)"
      (uploadImageByUrl)="uploadImageByUrl($event)"
      (uploadImageByFile)="uploadImageByFile($event)"
      (delete)="onDelete()"
      (goToProfile)="goToPage($event, false)"
    ></admin-artist-one>

    <ng-container *ngIf="vm.view === 'viewSets'">
      <custom-table
        [items]="vm.sets"
        type="media"
        subType="set"
        (onGoToPage)="goToPage($event)"
        (onShowImage)="showImage($event)"
      ></custom-table>
    </ng-container>
    <ng-container *ngIf="vm.view === 'viewTracks'">
      <custom-table
        [items]="vm.tracks"
        type="media"
        subType="track"
        (onGoToPage)="goToPage($event)"
        (onShowImage)="showImage($event)"
      ></custom-table>
    </ng-container>
    <ng-container *ngIf="vm.view === 'viewEvents'">
      <custom-table
        [items]="vm.events"
        type="event"
        (onGoToPage)="goToPage($event)"
        (onShowImage)="showImage($event)"
      ></custom-table>
    </ng-container>
  </div>

  <div *ngIf="type === 'event'">
    <admin-event-one
      *ngIf="vm.view === 'viewInfo'"
      [event]="vm.event"
      (onSubmit)="onSubmit()"
      (showImage)="showImage($event)"
      (removeImage)="removeImage($event)"
      (setFirstImage)="setFirstImage($event)"
      (uploadImageByUrl)="uploadImageByUrl($event)"
      (uploadImageByFile)="uploadImageByFile($event)"
      (delete)="onDelete()"
    ></admin-event-one>
  </div>

  <div *ngIf="type === 'media'">
    <admin-media-one
      *ngIf="vm.view === 'viewInfo'"
      [media]="vm.media"
      [type]="vm.subType === 'set' ? 'set' : 'track'"
      (onSubmit)="onSubmit()"
      (showImage)="showImage($event)"
      (removeImage)="removeImage($event)"
      (setFirstImage)="setFirstImage($event)"
      (uploadImageByUrl)="uploadImageByUrl($event)"
      (uploadImageByFile)="uploadImageByFile($event)"
      (delete)="onDelete()"
    >
    </admin-media-one>
  </div>

  <div *ngIf="type === 'site'">
    <admin-site-one
      *ngIf="vm.view === 'viewInfo'"
      [site]="vm.site"
      [type]="vm.subType === 'club' ? vm.subType : 'festival'"
      [scraping]="vm.scraping"
      (onSubmit)="onSubmit()"
      (showImage)="showImage($event)"
      (removeImage)="removeImage($event)"
      (setFirstImage)="setFirstImage($event)"
      (uploadImageByUrl)="uploadImageByUrl($event)"
      (uploadImageByFile)="uploadImageByFile($event)"
      (delete)="onDelete()"
    ></admin-site-one>

    <ng-container *ngIf="vm.view === 'viewScrapingEvent'">
      <admin-events-scraping-site
        [id]="vm.site._id!"
      ></admin-events-scraping-site>
    </ng-container>

    <ng-container *ngIf="vm.view === 'viewEvents'">
      <custom-table
        [items]="vm.events"
        type="event"
        (onGoToPage)="goToPage($event)"
        (onShowImage)="showImage($event)"
      ></custom-table>
    </ng-container>

    <ng-container *ngIf="vm.view === 'viewSets'">
      <custom-table
        [items]="vm.sets"
        type="media"
        subType="set"
        (onGoToPage)="goToPage($event)"
        (onShowImage)="showImage($event)"
      ></custom-table>
    </ng-container>
  </div>

  <div *ngIf="type === 'style'">
    <admin-style-one
      *ngIf="vm.view === 'viewInfo'"
      [style]="vm.style"
      (onSubmit)="onSubmit()"
      (delete)="onDelete()"
    ></admin-style-one>

    <ng-container *ngIf="vm.view === 'viewArtists'">
      <custom-table
        [items]="vm.style.artists"
        type="artist"
        (onGoToPage)="goToPage($event)"
        (onShowImage)="showImage($event)"
      ></custom-table>
    </ng-container>
    <ng-container *ngIf="vm.view === 'viewClubs'">
      <custom-table
        [items]="vm.style.clubs"
        type="site"
        subType="club"
        (onGoToPage)="goToPage($event)"
        (onShowImage)="showImage($event)"
      ></custom-table>
    </ng-container>
    <ng-container *ngIf="vm.view === 'viewFestivals'">
      <custom-table
        [items]="vm.style.festivals"
        type="site"
        subType="festival"
        (onGoToPage)="goToPage($event)"
        (onShowImage)="showImage($event)"
      ></custom-table>
    </ng-container>
    <ng-container *ngIf="vm.view === 'viewSets'">
      <custom-table
        [items]="vm.sets"
        type="media"
        subType="set"
        (onGoToPage)="goToPage($event)"
        (onShowImage)="showImage($event)"
      ></custom-table>
    </ng-container>
    <ng-container *ngIf="vm.view === 'viewTracks'">
      <custom-table
        [items]="vm.tracks"
        type="media"
        subType="track"
        (onGoToPage)="goToPage($event)"
        (onShowImage)="showImage($event)"
      ></custom-table>
    </ng-container>
  </div>

  <div *ngIf="type === 'user'">
    <admin-user-one
      *ngIf="vm.view === 'viewInfo'"
      [user]="vm.user"
      (onSubmit)="onSubmit()"
      (showImage)="showImage($event)"
      (removeImage)="removeImage($event)"
      (setFirstImage)="setFirstImage($event)"
      (uploadImageByUrl)="uploadImageByUrl($event)"
      (uploadImageByFile)="uploadImageByFile($event)"
    ></admin-user-one>
  </div>

  <div *ngIf="vm.view === 'viewOptions'">
    <options-items
      [options]="vm.options"
      (onClickOption)="onClickOptionItem($event)"
    ></options-items>
  </div>
</div>
