<ng-container *ngIf="artist">
  <header-custom [title]="artist.name!"></header-custom>

  <div
    *ngIf="artist"
    @inOut
    class="container grid gap-4 px-3 mx-auto mt-3 overflow-auto text-center lg:grid-cols-4 rounded-xl"
  >
    <div
      class="block w-full col-span-3 p-4 mx-auto border md:col-span-2 rounded-2xl"
    >
      <artist-block-image-info [artist]="artist"></artist-block-image-info>
    </div>

    <div class="block col-span-3 text-left md:col-span-2">
      <artist-block-info [artist]="artist"></artist-block-info>

      <artist-block-sets [artist]="artist"></artist-block-sets>

      <artist-block-tracks [artist]="artist"></artist-block-tracks>
    </div>
  </div>
</ng-container>
