<div class="grid py-2">
  <div class="inline-flex mx-full" role="group">
    <ng-container *ngIf="viewButtons">
      <button
        type="button"
        (click)="setView('gallery')"
        class="border inline-flex items-center py-2 px-4 text-sm font-medium text-gray-900 bg-white rounded-l-2xl border-gray-200 hover:bg-gray-100 hover:text-black dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-red-500 dark:focus:text-white;"
        [ngClass]="{ 'bg-gray-100 text-black': view === 'gallery' }"
      >
        <svg-icon name="gallery"></svg-icon>
        <span class="hidden sm:block">&nbsp; Galeria</span>
      </button>

      <button
        type="button"
        (click)="setView('list')"
        class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 hover:text-black dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-red-500 dark:focus:text-white"
        [ngClass]="{ 'bg-gray-100 text-black': view === 'list' }"
      >
        <svg-icon name="list"></svg-icon>
        <span class="hidden sm:block">&nbsp;Listado</span>
      </button>
    </ng-container>

    <div class="inline-flex mx-full" role="group">
      <button
        type="button"
        (click)="openOrder()"
        class="inline-flex border items-center py-2 px-4 text-sm font-medium text-gray-900 bg-white border-gray-200 hover:bg-gray-100 hover:text-black dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-red-500 dark:focus:text-white;"
        [ngClass]="!viewButtons ? 'rounded-l-2xl' : ''"
      >
        <svg-icon name="order"></svg-icon>
        <span class="hidden sm:block">&nbsp; Ordenar</span>
      </button>

      <button
        type="button"
        (click)="openFilter()"
        class="inline-flex border items-center py-2 px-4 text-sm font-medium text-gray-900 bg-white border-gray-200 hover:bg-gray-100 hover:text-black dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-red-500 dark:focus:text-white;"
      >
        <svg-icon name="filter"></svg-icon>
        <span class="hidden sm:block">&nbsp; Filtrar</span>
      </button>

      <button
        type="button"
        (click)="searchState = !searchState"
        class="inline-flex border items-center py-2 px-4 text-sm font-medium text-gray-900 bg-white rounded-r-2xl border-gray-200 hover:bg-gray-100 hover:text-black dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-red-500 dark:focus:text-white;"
      >
        <svg-icon name="search"></svg-icon>

        <span class="hidden sm:block">&nbsp; Buscar</span>
      </button>
    </div>
  </div>
</div>
<div *ngIf="searchState" class="py-2">
  <search-bar
    @inOut
    (search)="search.emit($event)"
    (closeSearch)="searchState = false"
  ></search-bar>
</div>
<hr class="my-2" />
