<div
  @inOut
  class="container grid gap-4 px-3 mx-auto text-center rounded-lg lg:grid-cols-1"
>
  <div
    @inOut
    class="flex justify-center p-3 my-2 font-semibold bg-gray-100 rounded-lg"
    *ngIf="items.length === 0"
  >
    <svg-icon name="info-circle" class="mr-3"></svg-icon>
    No hay ningun {{ type }} para {{ artist.name }}
  </div>

  <div class="grid justify-center grid-cols-2 gap-3 pt-3 md:grid-cols-4">
    <!-- SETs/TRACKs -->
    <div *ngFor="let item of items">
      <div
        *ngIf="type === 'set' || type === 'track'"
        class="flex flex-col overflow-hidden cursor-pointer w-100 hover:opacity-90 hover:duration-1000"
        (click)="goTo(item)"
      >
        <img
          [src]="item.images! | imageArray"
          alt="set.name"
          class="object-cover w-full rounded-lg h-44 md:h-64"
        />
        <div
          class="flex flex-col gap-1 p-2 text-sm text-center md:text-base hover:text-gray-800"
        >
          <p class="flex-wrap">
            {{ item.site.name }} {{ item.year !== 0 ? item.year : '' }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- IMAGEs -->
  <div class="grid justify-center grid-cols-2 gap-3 pt-3 md:grid-cols-4">
    <div *ngFor="let item of items | slice: 1:20">
      <div
        *ngIf="type === 'image'"
        class="flex flex-col object-cover overflow-hidden cursor-pointer w-100 hover:opacity-90 hover:duration-1000"
        (click)="showFullImage(item)"
      >
        <img
          [src]="item | image"
          alt=""
          class="object-cover w-full rounded-lg h-44 md:h-64"
        />
      </div>
    </div>
  </div>
</div>
