<div class="relative flex items-center justify-between h-16">
  <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
    <!-- Mobile menu button-->
    <button
      type="button"
      (click)="onMenuOrBackButton.emit()"
      class="inline-flex items-center justify-center p-2 text-black bg-gray-100 dark:bg-gray-800 rounded-2xl hover:bg-gray-200 dark:hover:bg-gray-900 dark:text-white hover:text-gray-900"
      aria-controls="mobile-menu"
      aria-expanded="false"
    >
      <svg-icon name="menu" *ngIf="!backButton.state"></svg-icon>
      <svg-icon name="backButton" *ngIf="backButton.state"></svg-icon>
    </button>
  </div>
  <div
    class="flex items-center justify-center flex-1 sm:items-stretch sm:justify-start"
  >
    <div class="flex items-center flex-shrink-0">
      <p
        class="block w-auto text-lg font-extrabold rounded-lg cursor-pointer dark:hover:border-lg lg:hidden dark:hover:bg-gray-800 hover:bg-gray-100 hover:px-2 dark:text-white"
        (click)="goToHomeOrAdmin.emit()"
      >
        XSMusic
        <span
          *ngIf="offline"
          class="relative inline-flex w-3 h-3 bg-red-500 rounded-full"
        ></span>
      </p>
      <img
        class="hidden w-auto rounded cursor-pointer dark:lg:hidden hover:border-2xl h-9 lg:block hover:bg-gray-100 hover:rounded-full dark:hover:bg-gray-800"
        [src]="'assets/images/logo-light.png'"
        alt="XSMusic"
        (click)="goToHomeOrAdmin.emit()"
      />
      <img
        class="hidden w-auto rounded cursor-pointer lg:hidden hover:border-2xl h-9 dark:lg:block hover:bg-gray-100 hover:rounded-full dark:hover:bg-gray-800"
        [src]="'assets/images/logo-dark.png'"
        alt="XSMusic"
        (click)="goToHomeOrAdmin.emit()"
      />
    </div>
    <div class="hidden sm:ml-6 sm:block">
      <div class="flex space-x-1">
        <ng-template [ngxPermissionsOnly]="['ADMIN']">
          <ng-container *ngIf="!adminPage">
            <a
              *ngFor="let menu of menuItemsForAdmin"
              [routerLink]="menu.route"
              routerLinkActive=" border-b-2 border-b-black dark:border-white navbar-active duration-400"
              class="px-3 py-2 text-sm font-medium text-black duration-200 hover:border-b-2 navbar-no-active hover:border-black dark:text-white dark:hover:border-white dark:hover:border-b dark:hover:border-b-white hover:text-black"
            >
              {{ menu.name }}
            </a>
          </ng-container>
          <ng-container *ngIf="adminPage">
            <a
              *ngFor="let menu of menuItemsForAdminInAdmin"
              [routerLink]="menu.route"
              routerLinkActive=" border-b-2 border-b-black dark:border-white navbar-active duration-400"
              class="px-3 py-2 text-sm font-medium text-black duration-200 hover:border-b-2 navbar-no-active hover:border-black dark:text-white dark:hover:border-white dark:hover:border-b dark:hover:border-b-white hover:text-black"
            >
              {{ menu.name }}
            </a>
          </ng-container>
        </ng-template>
        <ng-template [ngxPermissionsExcept]="['ADMIN']">
          <a
            *ngFor="let menu of menuItemsForAny"
            [routerLink]="menu.route"
            routerLinkActive=" border-b-2 border-b-black dark:border-white navbar-active duration-400"
            class="px-3 py-2 text-sm font-medium text-black duration-200 hover:border-b-2 navbar-no-active hover:border-black dark:text-white dark:hover:border-white dark:hover:border-b dark:hover:border-b-white hover:text-black"
          >
            {{ menu.name }}
          </a>
        </ng-template>
      </div>
    </div>
  </div>
  <div
    class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
  >
    <div class="relative ml-3">
      <ng-template [ngxPermissionsExcept]="['ADMIN', 'USER']">
        <button
          type="button"
          routerLink="/auth"
          class="p-2 text-sm text-black bg-gray-100 dark:bg-gray-800 rounded-2xl hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-900 dark:text-white"
        >
          <svg-icon name="login" svgClass="w-4 h-4"></svg-icon>
        </button>
      </ng-template>

      <ng-template [ngxPermissionsOnly]="['ADMIN', 'USER']">
        <!-- Menu Profile -->
        <button
          type="button"
          class="flex text-sm bg-gray-100 rounded-full dark:bg-800 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
          id="user-menu-button"
          aria-expanded="false"
          aria-haspopup="true"
          (click)="menuProfileState = !menuProfileState"
        >
          <img class="w-8 h-8 rounded-full" [src]="user.image" onError alt="" />
        </button>

        <div
          *ngIf="menuProfileState"
          class="absolute right-0 z-10 w-48 py-1 mt-2 origin-top-right bg-white rounded-md shadow-lg cursor-pointer ring-1 ring-black ring-opacity-5 focus:outline-none"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="user-menu-button"
          tabindex="-1"
        >
          <a
            *ngFor="let menu of menuProfileItems"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
            role="menuitem"
            tabindex="-1"
            (click)="clickItem(menu)"
          >
            {{ menu.name }}
          </a>
        </div>
      </ng-template>
    </div>
  </div>
</div>
