<div
  @inOut
  class="relative flex px-4 py-3 mt-1 text-sm font-bold border rounded-lg dark:border "
  role="alert"
  [ngClass]="{
    'text-blue-500  border-blue-500': type === 'info',
    'text-orange-500  border-orange-500': type === 'warning',
    'text-red-500 border-red-500': type === 'error'
  }"
>
  <svg-icon
    class="mr-2 fill-current"
    name="info"
    style="margin-top: 0.1rem"
  ></svg-icon>
  <span>{{ message }}</span>
  <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
    <svg-icon
      class="cursor-pointer fill-current"
      (click)="action.emit()"
      name="close"
      [svgStyle]="{ 'width.px': 20, 'height.px': 20 }"
      style="margin-top: 0.1rem"
    ></svg-icon>
  </span>
</div>
