<ng-container *ngIf="!loading">
  <ng-container *ngIf="likes.length > 0">
    <div @inOut class="my-2 overflow-x-auto scrollbar-hidden">
      <table class="w-full whitespace-nowrap" aria-label="style">
        <th></th>
        <tbody>
          <tr
            *ngFor="let like of likes"
            class="h-16 border-b border-gray-100 rounded-lg dark:border-black dark:border-0"
          >
            <td class="pl-3">
              <div class="flex gap-3 mr-16">
                <img
                  [src]="like[like.type].images! | imageArray: 'small'"
                  [alt]="like[like.type].name"
                  onError
                  class="object-cover object-center w-12 h-12 cursor-pointer rounded-2xl lg:h-12 lg:w-12 hover:filter-grayscale hover:scale-105 hover:duration-1000"
                  (click)="showImage(like[like.type].images![0])"
                />
                <div class="flex flex-col">
                  <p
                    class="my-1 mr-2 text-lg font-extrabold leading-none text-black cursor-pointer dark:text-white hover:text-gray-600"
                    (click)="
                      goToPage.emit({
                        type:
                          like.type !== 'media' && like.type !== 'site'
                            ? like.type
                            : like.type === 'media'
                            ? like.media.type
                            : like.site.type,
                        typeRoute: 'one',
                        item: like[like.type]
                      })
                    "
                  >
                    {{ like[like.type].name }}
                  </p>
                  <p
                    class="mt-1 text-sm leading-none text-gray-500 dark:text-gray-400 font-extralight"
                  >
                  <span *ngIf="like.type !== 'media' && like.type !== 'site'">
                    {{ like.type | type }}
                    </span>
                  <span *ngIf="like.type === 'media' || like.type === 'site'">
                    {{ like[like.type].type | type }}
                    </span>
                  </p>
                </div>
              </div>

            </td>
            <td class="pl-3">
              <div class="flex gap-3 mr-16">
                <img
                  [src]="like.user.images! | imageArray: 'small'"
                  [alt]="like.user.name"
                  onError
                  class="object-cover object-center w-12 h-12 cursor-pointer rounded-2xl lg:h-12 lg:w-12 hover:filter-grayscale hover:scale-105 hover:duration-1000"
                  (click)="showImage(like.user.images![0])"
                />
                <div class="flex flex-col">
                  <p
                    class="my-1 mr-2 text-lg font-extrabold leading-none text-black cursor-pointer dark:text-white hover:text-gray-600"
                    (click)="
                      goToPage.emit({
                        type: 'user',
                        typeRoute: 'one',
                        item: like.user
                      })
                    "
                  >
                    {{ like.user.name }}
                  </p>
                  <p
                    class="mt-1 text-sm leading-none text-gray-500 dark:text-gray-400 font-extralight"
                  >
                    Usuario
                  </p>
                </div>
              </div>
            </td>

            <td class="pl-5" *ngxPermissionsOnly="'ADMIN'">
              <div class="flex flex-col gap-2">
                <div
                  class="mr-2 text-sm font-light leading-none text-gray-700 dark:text-gray-300"
                >
                  <span class="font-extrabold">Creado:</span>
                  {{ like.created! | timeAgo }}
                </div>
                <div
                  class="mr-2 text-sm font-light leading-none text-gray-700 dark:text-gray-300"
                >
                  <span class="font-extrabold">Editado:</span>
                  {{ like.updated! | timeAgo }}
                </div>
              </div>
            </td>
            <!-- <td class="pl-3">
              <div class="flex gap-3 w-80">
                <div class="flex flex-col">
                  <p
                    (click)="goToOne(like._id!)"
                    class="my-1 mr-2 text-lg font-extrabold leading-none text-black cursor-pointer dark:text-white hover:text-gray-600"
                  >
                    {{ like.type | type }}
                  </p>
                </div>
              </div>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll.emit()"
    ></div>
  </ng-container>

  <div class="mt-1" *ngIf="likes.length === 0">
    <alert
      type="warning"
      message="No hay likes disponibles"
      actionText="Quitar"
    ></alert>
  </div>
</ng-container>

<ng-container *ngIf="loading">
  <div class="w-full py-2">
    <div
      *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
      class="relative h-24 my-4 overflow-hidden bg-gray-100 shadow-xl cursor-pointer dark:bg-black dark:border dark:border-gray-800 animate-pulse"
    ></div>
  </div>
</ng-container>
