<!-- <ng-container>
  <div @inOut class="grid my-2 md:grid-cols-3">
    <ng-container *ngFor="let user of users">
      <div
        class="h-16 border-b border-gray-100 rounded-lg dark:border-black dark:border-0"
      >
        <div class="flex gap-3">
          <img
            *ngIf="user.images"
            [src]="user.images! | imageArray: 'small'"
            [alt]="user.name"
            onError
            class="object-cover object-center w-12 h-12 cursor-pointer rounded-2xl lg:h-12 lg:w-12 hover:filter-grayscale"
            (click)="showImage(user.images![0])"
          />
          <div class="flex flex-col gap-1">
            <p
              class="pr-4 my-1 text-base font-extrabold text-black cursor-pointer dark:text-white hover:text-gray-500"
              (click)="
                goToPage.emit({ type: 'user', typeRoute: 'one', item: user })
              "
            >
              {{ user.name }}
              <span
                class="px-2 text-sm text-black bg-gray-100 border rounded-lg font-extralight"
              >
                {{ user.role }}</span
              >
            </p>
            <div class="flex items-center gap-2">
              <p
                class="pr-4 text-sm font-light leading-none text-gray-700 dark:text-gray-400"
              >
                {{ user.email }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll.emit()"
  ></div>
</ng-container> -->

<ng-container *ngIf="!loading">
  <ng-container *ngIf="users.length > 0">
    <div @inOut class="my-2 overflow-x-auto scrollbar-hidden">
      <table class="w-full whitespace-nowrap" aria-label="user">
        <tr class="font-bold text-left dark:text-white">
          <th></th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Ultimo Login</th>
          <th>Creado</th>
          <th>Actualizado</th>
        </tr>
        <tbody>
          <tr
            *ngFor="let user of users"
            class="h-16 border-b border-gray-100 rounded-lg dark:border-black dark:border-0"
          >
            <td class="pr-4">
              <img
                [src]="user.images! | imageArray: 'small'"
                [alt]="user.name"
                onError
                class="object-cover object-center w-12 h-12 cursor-pointer rounded-2xl lg:h-12 lg:w-12 hover:filter-grayscale hover:scale-105 hover:duration-1000"
                (click)="showImage(user.images![0])"
              />
            </td>

            <td class="pr-4">
              <a
                href="#"
                class="pr-4 my-1 text-lg font-extrabold text-black cursor-pointer dark:text-white hover:text-gray-600"
                (click)="
                  goToPage.emit({
                    type: 'user',
                    typeRoute: 'one',
                    item: user
                  })
                "
              >
                {{ user.name }}
              </a>
            </td>

            <td class="pr-4">
              <p
                class="text-sm text-gray-500 dark:text-gray-400 font-extralight"
              >
                {{ user.email }}
              </p>
            </td>

            <td class="pr-4">
              <p
                *ngIf="user.lastLogin"
                class="pr-4 text-sm font-light text-gray-700 dark:text-gray-300"
              >
                {{ user.lastLogin | timeAgo | titlecase }}
              </p>
            </td>

            <td class="pr-4">
              <div
                class="pr-4 text-sm font-light text-gray-700 dark:text-gray-300"
              >
                {{ user.created! | timeAgo | titlecase }}
              </div>
            </td>

            <td class="pr-4">
              <div
                class="pr-4 text-sm font-light text-gray-700 dark:text-gray-300"
              >
                {{ user.updated! | timeAgo | titlecase }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll.emit()"
    ></div>
  </ng-container>

  <div class="mt-1" *ngIf="users.length === 0">
    <alert
      type="warning"
      message="No hay useras disponibles"
      actionText="Quitar"
    ></alert>
  </div>
</ng-container>

<ng-container *ngIf="loading">
  <div class="w-full py-2">
    <div
      *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
      class="relative h-24 my-4 overflow-hidden bg-gray-100 shadow-xl cursor-pointer dark:bg-black dark:border dark:border-gray-800 animate-pulse"
    ></div>
  </div>
</ng-container>
