<ng-container>
  <div @inOut class="grid my-2 md:grid-cols-3">
    <ng-container *ngFor="let user of users">
      <div
        class="h-16 border-b border-gray-100 rounded-lg dark:border-black dark:border-0"
      >
        <div class="flex gap-3">
          <img
            *ngIf="user.images"
            [src]="user.images! | imageArray: 'small'"
            [alt]="user.name"
            onError
            class="object-cover object-center w-12 h-12 cursor-pointer rounded-2xl lg:h-12 lg:w-12 hover:filter-grayscale"
            (click)="showImage(user.images![0])"
          />
          <div class="flex flex-col gap-1">
            <p
              class="my-1 mr-2 text-base font-extrabold leading-none text-black cursor-pointer dark:text-white hover:text-gray-500"
              (click)="
                goToPage.emit({ type: 'user', typeRoute: 'one', item: user })
              "
            >
              {{ user.name }}
              <span
                class="px-2 text-sm text-black bg-gray-100 border rounded-lg font-extralight"
              >
                {{ user.role }}</span
              >
            </p>
            <div class="flex items-center gap-2">
              <p
                class="mr-2 text-sm font-light leading-none text-gray-700 dark:text-gray-400"
              >
                {{ user.email }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll.emit()"
  ></div>
</ng-container>
