<ng-container>
  <div @inOut class="grid my-2 md:grid-cols-3">
    <ng-container *ngFor="let user of users">
      <div
        class="h-16 border-b border-gray-100 rounded-lg dark:border-black dark:border-0"
      >
        <div class="flex gap-3">
          <img
            [src]="user.image"
            [alt]="user.name"
            onError
            class="object-cover object-center w-12 h-12 cursor-pointer rounded-2xl lg:h-12 lg:w-12 hover:filter-grayscale"
            (click)="showImage(user.image)"
          />
          <div class="flex flex-col gap-1">
            <p
              class="my-1 mr-2 text-base font-extrabold leading-none text-black cursor-pointer hover:text-gray-500"
              (click)="goToProfile.emit(user)"
            >
              {{ user.name }}
            </p>
            <div class="flex items-center gap-2">
              <p class="mr-2 text-sm font-light leading-none text-gray-700">
                {{ user.email }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll.emit()"
  ></div>
</ng-container>
