<img
  [src]="artist.image"
  class="object-cover w-full cursor-pointer rounded-2xl h-80 hover:filter-grayscale"
  onError
  [alt]="artist.name"
  (click)="showImage(artist.image!)"
/>
<div class="p-2">
  <h1 class="pt-2 text-xl font-extrabold text-left">{{ artist.name }}</h1>
  <div
    *ngIf="!viewMore"
    class="text-left"
    [innerHtml]="artist.info! | truncateText: 180"
  ></div>
  <div *ngIf="viewMore" class="text-left" [innerHtml]="artist.info!"></div>
</div>
<button
  *ngIf="artist.info!.length > 200"
  class="w-full py-1 mt-3 font-semibold bg-gray-100 border shadow-md rounded-2xl hover:bg-gray-200"
  (click)="viewMore = !viewMore"
>
  {{ !viewMore ? 'Ver mas' : 'Ver menos' }}
</button>

<div *ngxPermissionsOnly="'ADMIN'">
  <button
    class="w-full py-1 mt-3 font-semibold text-white bg-orange-500 border shadow-md rounded-2xl hover:bg-orange-600"
    (click)="goToEdit(artist._id!)"
  >
    Editar Artista
  </button>
</div>
