<div class="pt-16" @inOut>
  <div class="mx-auto mt-3 overflow-hidden border-2 rounded-2xl w-52 h-52">
    <img
      [src]="site.images! | imageArray"
      class="object-cover w-full h-full shadow-sm cursor-pointer hover:filter-grayscale hover:scale-105 hover:duration-1000"
      [alt]="site.name"
      (click)="showImage(site.images![0].url!)"
      onError
    />
  </div>

  <p
    *ngxPermissionsOnly="'ADMIN'"
    (click)="goToEdit(site._id!)"
    class="pt-2 text-3xl font-bold text-center cursor-pointer"
  >
    {{ site.name }}
  </p>

  <p
    *ngxPermissionsExcept="'ADMIN'"
    class="pt-2 text-3xl font-bold text-center"
  >
    {{ site.name }}
  </p>
  <div class="text-center">
    <p *ngIf="site.address.street !== '' && site.address.town !== ''">
      {{ site.address.street }}, {{ site.address.town }}
    </p>
    <p *ngIf="site.address.street !== '' && site.address.town === ''">
      {{ site.address.street }}, {{ site.address.state }}
    </p>
  </div>

  <div
    class="py-1 mx-auto cursor-pointer"
    (click)="goToFilter('country', site.address.country!)"
  >
    <div class="flex items-center justify-center gap-2">
      <img
        class="w-6"
        [src]="site.address.country! | countryFlag"
        alt="item.name"
      />
      {{ site.address.country! | countryName }}
    </div>
  </div>

  <div class="p-2 text-center" *ngIf="site.styles!.length > 0">
    <span *ngFor="let style of site.styles; index as i">
      <a
        (click)="goToFilter('styles', style.name)"
        class="px-2 py-1 mr-2 text-xs bg-gray-100 border border-gray-100 shadow-md cursor-pointer rounded-2xl hover:bg-gray-200 hover:border-gray-200"
      >
        {{ style.name }}
      </a>
    </span>
  </div>

  <div class="flex justify-center gap-3">
    <div
      class="py-2"
      *ngIf="site.social?.web && site.social?.web !== ''"
      (click)="goToSocial(site.social.web)"
    >
      <svg-icon
        name="web"
        svgClass="h-8 w-8  hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="site.social?.facebook && site.social?.facebook !== ''"
      (click)="goToSocial(site.social.facebook)"
    >
      <svg-icon
        name="facebook"
        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="site.social?.twitter && site.social?.twitter !== ''"
      (click)="goToSocial(site.social.twitter)"
    >
      <svg-icon
        name="twitter"
        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="site.social?.soundcloud && site.social?.soundcloud !== ''"
      (click)="goToSocial(site.social.soundcloud)"
    >
      <svg-icon
        name="soundcloud"
        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="site.social?.spotify && site.social?.spotify !== ''"
      (click)="goToSocial(site.social.spotify)"
    >
      <svg-icon
        name="spotify"
        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="site.social?.tiktok && site.social?.tiktok !== ''"
      (click)="goToSocial(site.social.tiktok)"
    >
      <svg-icon
        name="tiktok"
        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="site.social?.instagram && site.social?.instagram !== ''"
      (click)="goToSocial(site.social.instagram)"
    >
      <svg-icon
        name="instagram"
        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
  </div>

  <div class="px-6 py-2 text-center" *ngIf="site.info !== ''">
    <div
      *ngIf="!moreInfo"
      class="lg:px-8"
      [innerHTML]="site.info! | truncateText: 150"
    ></div>
    <div *ngIf="moreInfo" class="lg:px-8" [innerHTML]="site.info!"></div>
    <p
      *ngIf="site.info!.length > 150"
      class="mt-2 font-semibold cursor-pointer"
      (click)="moreInfo = !moreInfo"
    >
      {{ !moreInfo ? 'Leer mas' : 'Leer menos' }}
    </p>
  </div>
</div>
