<form @inOut *ngIf="media" class="grid grid-cols-1 gap-4 lg:grid-cols-4">
  <div class="col-span-2 mb-1 md:col-span-2">
    <images-edit-block
      [item]="media"
      (showImage)="showImage.emit({ image: $event, remote: false })"
      (removeImage)="removeImage.emit($event)"
      (setFirstImage)="setFirstImage.emit($event)"
      (toggleAddImage)="imageState = !imageState"
    ></images-edit-block>
  </div>
  <div class="grid grid-cols-4 gap-4 md:col-span-2">
    <div class="col-span-2 md:col-span-2">
      <label
        for="name"
        class="block mb-3 text-base font-extrabold text-black dark:text-white"
      >
        Nombre
      </label>
      <input
        name="name"
        type="text"
        [(ngModel)]="media.name"
        placeholder="Introduce el nombre"
        class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-lg dark:border-gray-700 dark:text-white dark:bg-black rounded-l-md ring-red-500 dark:ring-red-500"
      />
    </div>

    <div class="col-span-2 md:col-span-2">
      <label
        for="source"
        class="block mb-3 text-base font-extrabold text-black dark:text-white"
      >
        Medio
      </label>
      <select
        name="source"
        type="text"
        [(ngModel)]="media.source"
        placeholder="Selecciona el medio"
        class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-lg dark:border-gray-700 dark:text-white dark:bg-black rounded-l-md ring-red-500 dark:ring-red-500"
      >
        <option [value]="null" [disabled]="true" [selected]>
          Selecciona medio
        </option>
        <option *ngFor="let source of sources" [value]="source.value">
          {{ source.name }}
        </option>
      </select>
    </div>

    <div class="col-span-2 mb-1 md:col-span-4">
      <label
        for="sourceId"
        class="block mb-3 text-base font-extrabold text-black dark:text-white"
      >
        Video Id
      </label>
      <div class="flex flex-row">
        <input
          name="sourceId"
          type="text"
          [(ngModel)]="media.sourceId"
          placeholder="Introduce el id del video"
          class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-l-lg dark:border-gray-700 dark:text-white dark:bg-black rounded-l-md ring-red-500 dark:ring-red-500"
        />
        <button
          (click)="goToYoutube()"
          class="px-3 bg-red-500 border rounded-r-lg cursor-pointer dark:border-gray-800 hover:bg-red-400 border-1"
        >
          <svg-icon name="youtube" svgClass="w-4 h-4 fill-white"></svg-icon>
        </button>
      </div>
    </div>

    <div class="col-span-2 mb-1 md:col-span-4">
      <label
        for="sourceId"
        class="block mb-3 text-base font-extrabold text-black dark:text-white"
      >
        Año
      </label>
      <input
        name="year"
        type="number"
        [(ngModel)]="media.year"
        placeholder="Introduce el año"
        class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-lg dark:border-gray-700 dark:text-white dark:bg-black rounded-l-md ring-red-500 dark:ring-red-500"
      />
    </div>

    <!-- ESTILOS -->
    <div
      class="col-span-2 mb-1 md:col-span-4"
      [ngClass]="{
        'md:col-span-1': media.type === 'track',
        'md:col-span-2': media.type === 'set'
      }"
    >
      <search-input type="style" [item]="media"></search-input>
    </div>
  </div>

  <div class="col-span-2 md:col-span-4">
    <images-upload-url
      [imageState]="imageState"
      [image]="image"
      (showImage)="showImage.emit($event)"
      (uploadImageByUrl)="uploadImageByUrl.emit($event)"
      (uploadImageByFile)="uploadImageByFile.emit($event)"
      [scraping]="scraping"
    ></images-upload-url>
  </div>

  <div
    class="col-span-2 mb-1"
    [ngClass]="{
      'md:col-span-4': media.type === 'track',
      'md:col-span-2': media.type === 'set'
    }"
  >
    <search-input type="artist" [item]="media"></search-input>
  </div>

  <!-- SITE -->
  <div class="col-span-2 mb-1 md:col-span-2" *ngIf="media.type === 'set'">
    <search-input type="site" [item]="media"></search-input>
  </div>

  <div class="col-span-2 mb-1 md:col-span-4">
    <label
      for="sourceId"
      class="block mb-3 text-base font-extrabold text-black dark:text-white"
    >
      Info
    </label>
    <div class="w-full overflow-hidden bg-white rounded-lg">
      <angular-editor
        name="info"
        [placeholder]="'Introduce informacion'"
        [(ngModel)]="media.info"
      ></angular-editor>
    </div>
  </div>

  <!-- Actions Buttons -->
  <div class="col-span-2 mb-2">
    <button
      type="submit"
      (click)="onSubmit.emit({scraping})"
      class="w-full py-1 m-1 text-white bg-green-500 border-green-500 rounded-lg shadow-md md:w-32 hover:bg-green-600 hover:border-green-600'"
    >
      Guardar
    </button>
    <button
      type="button"
      *ngIf="media._id"
      (click)="delete.emit()"
      class="w-full py-1 m-1 text-white bg-red-500 border-2 border-red-500 rounded-lg shadow-md hover:bg-red-600 hover:border-red-600 hover:text-white md:w-32"
    >
      Eliminar
    </button>

    <button
      type="button"
      *ngIf="media._id"
      (click)="goToProfile.emit({ type: type, typeRoute: 'one', item: media })"
      class="w-full py-1 m-1 text-white bg-blue-500 border-2 border-blue-500 rounded-lg shadow-md hover:bg-blue-600 hover:border-blue-600 hover:text-white md:w-32"
    >
      Ver perfil
    </button>
  </div>
</form>
