<!-- Desktop version -->
<div
  @inOut
  *ngIf="!loading"
  class="items-center hidden w-full grid-cols-2 gap-2 sm:grid md:grid-cols-4"
>
  <div
    class="p-3 border border-gray-200 rounded-lg cursor-pointer dark:border-gray-800 hover:opacity-70"
    *ngFor="let total of totals"
    [routerLink]="total.route"
  >
    <div class="flex justify-between">
      <div>
        <div class="text-sm text-gray-500 dark:text-gray-400 font-extralight">
          {{ total.name }}
        </div>
        <div class="text-xl font-bold dark:text-white">{{ total.value }}</div>
      </div>
      <div class="flex flex-col gap-1">
        <div
          class="flex mt-1 text-xs font-bold"
          *ngFor="let percentage of total.percentages"
          [ngClass]="{
            'text-green-500': percentage.value !== 0,
            'text-red-500': percentage.value === 0
          }"
        >
          <svg-icon
            [name]="percentage.value === 0 ? 'arrow-down' : 'arrow-up'"
            svgClass="h-3 mt-0.5"
            [ngClass]="{
              'fill-green-500': percentage.value !== 0,
              'fill-red-500': percentage.value === 0
            }"
          ></svg-icon>
          {{ percentage.value }}%
          <span class="ml-1 font-light text-gray-400">
            {{ percentage.days }} D
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Mobile version -->
<div
  @inOut
  *ngIf="!loading"
  class="grid items-center w-full grid-cols-2 gap-2 sm:hidden md:grid-cols-6"
>
  <div
    class="p-3 border border-gray-100 rounded-lg shadow-md cursor-pointer focus:animate-pulse"
    *ngFor="let total of totals | slice: 0:endSlice"
    [routerLink]="total.route"
  >
    <div class="flex justify-between">
      <div>
        <div class="text-sm text-gray-500 dark:text-gray-400 font-extralight">
          {{ total.name }}
        </div>
        <div class="text-xl font-bold dark:text-white">{{ total.value }}</div>
      </div>
      <div class="flex flex-col gap-1">
        <div
          class="flex mt-1 font-light text-green-500"
          style="font-size: 0.55rem"
          *ngFor="let percentage of total.percentages"
        >
          <svg-icon
            name="arrow-up"
            svgClass="h-3 mt-0.5"
            class="fill-green-500"
          ></svg-icon>
          {{ percentage.value }}%
          <span class="ml-1 font-light text-gray-400">
            {{ percentage.days }} D
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  @inOut
  *ngIf="!loading"
  (click)="viewMoreTotals()"
  class="cursor-pointer sm:hidden flex items-center my-4 before:flex-1 before:border-t before:border-gray-300 before:mt-0.5 after:flex-1 after:border-t after:border-gray-300 after:mt-0.5"
>
  <p class="mx-4 mb-0 font-semibold text-center">
    <span *ngIf="endSlice === 2">
      <svg-icon svgClass="dark:text-white" name="plus-rounded"></svg-icon>
    </span>
    <span *ngIf="endSlice === totals.length">
      <svg-icon svgClass="dark:text-white" name="minus-rounded"></svg-icon>
    </span>
  </p>
</div>
<br />
