<div
  *ngIf="media"
  class="relative overflow-hidden shadow-xl cursor-pointer rounded-2xl"
  (click)="goToMedia.emit(media)"
>
  <img
    class="object-cover w-full h-40 hover:filter-grayscale hover:scale-105 hover:duration-1000"
    [ngStyle]="{ height: height }"
    [src]="media.images! | imageArray"
    [alt]="media.name"
    onError
  />
  <div
    class="absolute bottom-0 left-0 w-full px-6 pt-2 text-center text-white"
    style="background: rgba(0, 0, 0, 0.65)"
  >
    <!-- DESKTOP -->
    <div class="hidden lg:justify-center lg:flex-col lg:flex">
      <div class="flex justify-center">
        <div class="flex justify-center gap-3">
          <div class="mb-2 text-lg font-medium text-white">
            {{ media | titleMedia }}
          </div>
        </div>
      </div>
    </div>

    <!-- ONE BLOCK MOBILE -->
    <div class="flex flex-col justify-center lg:hidden">
      <div class="flex justify-center">
        <div class="mb-2 text-lg font-medium text-white">
          {{ media | titleMedia | truncateText: 50 }}
        </div>
      </div>
    </div>
  </div>
</div>
