<header-custom [title]="title"></header-custom>

<div class="container px-4 pt-3 mx-auto max-w-full-xl sm:pb-0 max-w-7sm">
  <buttons-block
    type="mediaAdmin"
    (search)="onSearch($event)"
    (onClickButton)="onClickButton($event)"
  ></buttons-block>

  <alert
    type="info"
    message="Filtro activado."
    actionText="Quitar"
    (action)="removeFilter()"
    *ngIf="body.filter && body.filter.length > 0"
  ></alert>

  <media-view-list
    [media]="items"
    [loading]="loading"
    (goToProfile)="goToProfile($event)"
    (filter)="filter($event)"
    (onScroll)="onScroll()"
  ></media-view-list>
</div>
