<header-custom
  [title]="vm.title"
  [total]="vm.total"
  (onClickTitle)="goToPage({type: vm.typeAdminRoute, admin:true, 'typeRoute': 'all'})"
></header-custom>

<div class="container px-4 pt-3 mx-auto max-w-full-xl sm:pb-0 max-w-7sm">
  <tabs
    [type]="vm.typeTabs"
    (search)="onSearch($event)"
    (onFilter)="onFilter($event)"
    (onClickTab)="onClickTab($event)"
  ></tabs>

  <alert
    type="info"
    message="Filtro activado."
    actionText="Quitar"
    (action)="removeFilter()"
    *ngIf="vm.filter"
  ></alert>

  <generic-view-gallery
    *ngIf="vm.view === 'viewGallery'"
    [items]="this.vm[this.vm.typeItems]"
    [loading]="vm.loading"
    [type]="vm.typeForGalleryView"
    (goToPage)="goToPage($event)"
    (onScroll)="onScroll()"
  ></generic-view-gallery>

  <ng-container *ngIf="type==='artist'">
    <artists-view-list
      *ngIf="vm.view === 'viewList'"
      [artists]="vm.artists"
      [loading]="vm.loading"
      (goToPage)="goToPage($event)"
      (filter)="onFilter($event)"
      (onScroll)="onScroll()"
    >
    </artists-view-list>
  </ng-container>

  <ng-container *ngIf="type==='event'">
    <events-view-list
      *ngIf="vm.view === 'viewList'"
      [items]="vm.events"
      [loading]="vm.loading"
      (goToPage)="goToPage($event)"
      (filter)="onFilter($event)"
      (onScroll)="onScroll()"
    ></events-view-list>
  </ng-container>

  <ng-container *ngIf="type==='media'">
    <media-view-list
      *ngIf="vm.view === 'viewList'"
      [media]="vm.medias"
      [loading]="vm.loading"
      (goToPage)="goToPage($event)"
      (filter)="onFilter($event)"
      (onScroll)="onScroll()"
    ></media-view-list>
  </ng-container>

  <ng-container *ngIf="type==='site'">
    <sites-view-list
      *ngIf="vm.view === 'viewList'"
      [sites]="vm.sites"
      [loading]="vm.loading"
      (goToPage)="goToPage($event)"
      (filter)="onFilter($event)"
      (onScroll)="onScroll()"
    ></sites-view-list>

    <map
      *ngIf="vm.view === 'viewMap'"
      [class]="'mt-2 rounded-lg overflow-hidden'"
      [style]="'height: calc(100vh - 175px)'"
      [markers]="vm.sitesMap"
      [zoom]="6"
    ></map>
  </ng-container>
</div>
