<header-custom
  [title]="vm.title"
  (onClickTitle)="goToPage({type: vm.typeAdminRoute, admin:true, 'typeRoute': 'all'})"
></header-custom>

<div class="container px-4 pt-3 mx-auto max-w-full-xl sm:pb-0 max-w-7sm">
  <tabs
    [type]="vm.typeTabs"
    (search)="onSearch($event)"
    (onFilter)="onFilter($event)"
    (onClickTab)="onClickTab($event)"
  ></tabs>
  <alert
    type="info"
    message="Filtro activado."
    actionText="Quitar"
    (action)="removeFilter()"
    *ngIf="vm.filter"
  ></alert>

  <generic-view-gallery
    *ngIf="vm.view === 'viewGallery'"
    [items]="vm[this.vm.typeItems]"
    [loading]="vm.loading"
    [type]="vm.typeForGalleryView"
    (goToPage)="goToPage($event)"
    (onScroll)="onScroll()"
    (showImage)="showImage($event)"
    (likeOrDislike)="likeOrDislike($event, vm[this.vm.typeItems])"
  ></generic-view-gallery>

  <ng-container *ngIf="type === 'site'">
    <map
      *ngIf="vm.view === 'viewMap'"
      [class]="'mt-2 rounded-lg overflow-hidden'"
      [style]="'height: calc(100vh - 175px)'"
      [markers]="vm.sitesMap"
      [zoom]="6"
    ></map>
  </ng-container>
</div>
