<ng-container *ngIf="!loading">
  <ng-container *ngIf="sites.length > 0">
    <div @inOut class="grid my-2 md:grid-cols-3">
      <ng-container *ngFor="let site of sites">
        <div
          *ngIf="site.name !== 'Desconocido'"
          class="px-2 py-3 border-gray-100 lg:pr-16 dark:border-black dark:border-0"
        >
          <div class="flex justify-between gap-2">
            <div class="flex w-full gap-3">
              <img
                [src]="site.images! | imageArray"
                [alt]="site.name"
                onError
                class="object-cover object-center w-12 h-12 cursor-pointer rounded-2xl lg:h-12 lg:w-12 hover:filter-grayscale hover:scale-105 hover:duration-1000"
                (click)="showImage(site.images![0].url!)"
              />
              <div class="flex flex-col">
                <p
                  class="my-1 mr-2 text-base font-extrabold leading-none text-black cursor-pointer dark:text-white hover:text-gray-500"
                  (click)="goToProfile.emit(site)"
                >
                  {{ site.name }}
                </p>
                <div class="flex items-center gap-1">
                  <img
                    [src]="site.address.country! | countryFlag"
                    [alt]="site.address.country"
                    class="w-4 h-4 my-1 cursor-pointer hover:scale-110 hover:duration-1000"
                    (click)="
                      filter.emit({
                        name: 'country',
                        value: site.address.country!
                      })
                    "
                  />
                  <p class="text-sm text-gray-500">
                    {{ site.address.state | fixState | truncateText: 10 }}
                  </p>
                </div>
              </div>
            </div>
            <div class="flex flex-col justify-center text-xs text-center">
              <div>
                <div>Sets</div>
                <div class="text-lg font-bold">{{ site.sets?.count ?? 0 }}</div>
              </div>
            </div>
            <div class="flex flex-col justify-center text-xs text-center">
              <div>
                <div>Even.</div>
                <div class="text-lg font-bold">{{ 0 }}</div>
              </div>
            </div>
            <div class="flex flex-col justify-center text-xs text-center">
              <div>
                <div>Imag.</div>
                <div class="text-lg font-bold">
                  {{ site.images?.length! - 1 }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll.emit()"
    ></div>
  </ng-container>

  <div class="mt-1" *ngIf="sites.length === 0">
    <alert
      type="warning"
      message="No hay {{
        type === 'clubs' ? 'clubs' : 'festivales'
      }} disponibles"
      actionText="Quitar"
    ></alert>
  </div>
</ng-container>
<ng-container *ngIf="loading">
  <div class="w-full py-2">
    <div
      *ngFor="let artist of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
      class="relative h-24 my-4 overflow-hidden bg-gray-100 shadow-xl cursor-pointer dark:bg-black dark:border dark:border-gray-800 animate-pulse"
    ></div>
  </div>
</ng-container>
