<ng-container *ngIf="!loading">
  <ng-container *ngIf="sites.length > 0">
    <div @inOut class="my-2 overflow-x-auto scrollbar-hidden">
      <table class="w-full whitespace-nowrap" aria-label="artist">
        <th></th>
        <tbody>
          <ng-container *ngFor="let site of sites">
            <tr
              *ngIf="site.name !== 'Desconocido'"
              class="h-16 border-b border-gray-100 rounded-lg dark:border-black dark:border-0"
            >
              <td class="pl-3">
                <div class="flex gap-3 w-80">
                  <img
                    [src]="site.images! | imageArray: 'small'"
                    [alt]="site.name"
                    onError
                    class="object-cover object-center w-12 h-12 cursor-pointer rounded-2xl lg:h-12 lg:w-12 hover:filter-grayscale hover:scale-105 hover:duration-1000"
                    (click)="showImage(site.images![0])"
                  />
                  <div class="flex flex-col">
                    <p
                      class="my-1 mr-2 text-lg font-extrabold leading-none text-black cursor-pointer dark:text-white hover:text-gray-600"
                      (click)="goToProfile.emit(site)"
                    >
                      {{ site.name }}
                    </p>
                    <p
                      class="mt-1 text-sm leading-none text-gray-500 dark:text-gray-400 font-extralight"
                    >
                      {{
                        site.address.town && site.address.town !== ''
                          ? site.address.town
                          : site.address.state
                      }}
                      <!-- {{
                      site.birthdate
                        ? getYearsOld(site.birthdate) + ' años'
                        : ''
                    }} -->
                    </p>
                  </div>
                </div>
              </td>
              <td>
                <div class="w-12">
                  <div class="flex items-center">
                    <img
                      [src]="site.address.country! | countryFlag"
                      [alt]="site.address.country"
                      class="w-6 h-6 mx-2 my-1 cursor-pointer hover:scale-110 hover:duration-1000"
                      (click)="
                        filter.emit({
                          name: 'country',
                          value: site.address.country!
                        })
                      "
                    />
                  </div>
                </div>
              </td>
              <td class="px-5">
                <div class="flex gap-2">
                  <span
                    *ngFor="
                      let style of site.styles | slice: 0:3;
                      let i = index
                    "
                    class="px-3 py-1 text-sm border border-gray-300 rounded-lg cursor-pointer dark:text-white dark:bg-black dark:border-gray-800 hover:opacity-70"
                    (click)="filter.emit({ name: 'styles', value: style.name })"
                  >
                    {{ style.name | titlecase }}
                  </span>
                </div>
              </td>
              <td class="px-4">
                <p
                  class="mb-2 mr-2 text-sm font-light leading-none dark:text-white"
                >
                  <span class="font-black">{{ site.sets?.count ?? 0 }}</span>
                  {{ site.sets?.count === 1 ? 'Set' : 'Sets' }}
                </p>
                <p
                  class="mb-2 mr-2 text-sm font-light leading-none dark:text-white"
                >
                  <span class="font-black">{{ site.events?.count ?? 0 }}</span>
                  {{ site.events?.count === 1 ? 'Evento' : 'Eventos' }}
                </p>
              </td>

              <td class="pl-2">
                <div class="py-2">
                  <div class="flex gap-3">
                    <div
                      *ngIf="site.social?.web && site.social?.web !== ''"
                      (click)="goToSocial(site.social.web)"
                    >
                      <svg-icon
                        name="web"
                        svgClass="h-8 w-8 dark:fill-white hover:scale-110 hover:duration-1000 cursor-pointer"
                      ></svg-icon>
                    </div>
                    <div
                      *ngIf="
                        site.social?.facebook && site.social?.facebook !== ''
                      "
                      (click)="goToSocial(site.social.facebook)"
                    >
                      <svg-icon
                        name="facebook"
                        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
                      ></svg-icon>
                    </div>
                    <div
                      *ngIf="
                        site.social?.twitter && site.social?.twitter !== ''
                      "
                      (click)="goToSocial(site.social.twitter)"
                    >
                      <svg-icon
                        name="twitter"
                        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
                      ></svg-icon>
                    </div>

                    <div
                      *ngIf="
                        site.social?.instagram && site.social?.instagram !== ''
                      "
                      (click)="goToSocial(site.social.instagram)"
                    >
                      <svg-icon
                        name="instagram"
                        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
                      ></svg-icon>
                    </div>

                    <div
                      *ngIf="
                        site.social?.youtube && site.social?.youtube !== ''
                      "
                      (click)="goToSocial(site.social.youtube)"
                    >
                      <svg-icon
                        name="youtube"
                        svgClass="h-8 w-8 fill-red-600 hover:scale-110 hover:duration-1000 cursor-pointer"
                      ></svg-icon>
                    </div>
                  </div>
                </div>
              </td>

              <td class="pl-5" *ngxPermissionsOnly="'ADMIN'">
                <div class="flex flex-col gap-2">
                  <div
                    class="mr-2 text-sm font-light leading-none text-gray-700 dark:text-gray-300"
                  >
                    <span class="font-extrabold">Creado:</span>
                    {{ site.created! | timeAgo }}
                  </div>
                  <div
                    class="mr-2 text-sm font-light leading-none text-gray-700 dark:text-gray-300"
                  >
                    <span class="font-extrabold">Editado:</span>
                    {{ site.updated! | timeAgo }}
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll.emit()"
    ></div>
  </ng-container>

  <div class="mt-1" *ngIf="sites.length === 0">
    <alert
      type="warning"
      message="No hay artistas disponibles"
      actionText="Quitar"
    ></alert>
  </div>
</ng-container>

<ng-container *ngIf="loading">
  <div class="w-full py-2">
    <div
      *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
      class="relative h-24 my-4 overflow-hidden bg-gray-100 shadow-xl cursor-pointer dark:bg-black dark:border dark:border-gray-800 animate-pulse"
    ></div>
  </div>
</ng-container>
