<ng-container *ngIf="!loading">
  <ng-container *ngIf="items.length > 0">
    <div @inOut class="grid my-2 md:grid-cols-3">
      <ng-container *ngFor="let item of items">
        <div
          class="py-3 border-b border-gray-100 dark:border-black dark:border-0"
        >
          <div class="flex w-full gap-3">
            <img
              [src]="[item] | imageArray"
              [alt]=""
              onError
              class="object-cover object-center w-12 h-12 cursor-pointer rounded-2xl lg:h-12 lg:w-12 hover:filter-grayscale hover:scale-105 hover:duration-1000"
              (click)="showImage(item.url!)"
            />
            <div class="flex flex-col">
              <p
                class="my-1 mr-2 text-base font-extrabold leading-none text-black cursor-pointer hover:text-gray-500"
                (click)="onDeleteImage.emit(item)"
              >
                <span *ngIf="item.type === 'media'">{{ item.media.name }}</span>
                <span *ngIf="item.type === 'artist'">{{
                  item.artist.name
                }}</span>
                <span *ngIf="item.type === 'site'">{{ item.site.name }}</span>
              </p>
              <p class="text-sm text-gray-500 font-extralight">
                <span *ngIf="item.type === 'media'">
                  {{ item.media.type | titlecase }}
                </span>
                <span *ngIf="item.type === 'site'">
                  {{ item.site.type | titlecase }}
                </span>
                <span *ngIf="item.type !== 'media' && item.type !== 'site'">
                  {{ item.type | type }}
                </span>
                <span class="text-xs font-normal text-gray-500">
                  {{ item.size }}
                </span>
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll.emit()"
    ></div>
  </ng-container>

  <div class="mt-1" *ngIf="items.length === 0">
    <alert
      type="warning"
      message="No hay imagenes disponibles"
      actionText="Quitar"
    ></alert>
  </div>
</ng-container>
<ng-container *ngIf="loading">
  <div class="w-full py-2">
    <div
      *ngFor="let artist of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
      class="relative h-24 my-4 overflow-hidden bg-gray-100 shadow-xl cursor-pointer animate-pulse"
    ></div>
  </div>
</ng-container>
