<div
  @inOut
  class="justify-between hidden gap-3 pb-2 overflow-x-auto text-center md:flex"
>
  <div class="flex gap-1">
    <ng-container *ngFor="let button of buttons | filterArray: 'align':'left'">
      <button
        *ngIf="button.align === 'left'"
        (click)="clickButton(button)"
        class="text-base text-center pb-1.5 px-1.5 text-black dark:text-white border-b-2 cursor-pointer dark:hover:border-white hover:border-gray-600 hover:duration-300 hover:border-b-2"
        [ngClass]="{
          'font-extrabold border-b-gray-600 dark:border-b-white border-b-2 duration-300':
            button.isActive,
          'font-extralight duration-300 ': !button.isActive
        }"
      >
        <span class="hover:text-gray-800 dark:hover:text-white">{{
          button.name
        }}</span>
      </button>
    </ng-container>
  </div>
  <div class="flex gap-1">
    <ng-container *ngFor="let button of buttons | filterArray: 'align':'right'">
      <button
        *ngIf="button.align === 'right'"
        (click)="clickButton(button)"
        class="text-base text-center pb-1.5 px-1.5 text-black dark:hover:text-white dark:text-white border-b-2 cursor-pointer dark:hover:border-white hover:border-gray-600 hover:duration-300 hover:border-b-2"
        [ngClass]="{
          'font-extrabold border-b-gray-600 dark:border-b-white border-b-2 duration-300':
            button.isActive,
          'font-extralight duration-300': !button.isActive
        }"
      >
        <span class="hover:text-gray-800 dark:hover:text-white">
          {{ button.name }}
        </span>
      </button>
    </ng-container>
  </div>
</div>

<div @inOut class="grid pb-2 md:hidden">
  <div
    class="inline-flex gap-3 overflow-x-auto text-center mx-full scrollbar-hidden"
    role="group"
  >
    <ng-container *ngFor="let button of buttons">
      <button
        (click)="clickButton(button)"
        class="text-base text-center pb-1.5 px-1.5 text-black dark:hover:text-white dark:text-white border-b-2 cursor-pointer dark:hover:border-white hover:border-gray-600 hover:duration-300 hover:border-b-2"
        [ngClass]="{
          'font-extrabold border-b-gray-600 dark:border-b-white  border-b-2 duration-300':
            button.isActive,
          'font-extralight duration-300 ': !button.isActive
        }"
      >
        <span class="hover:text-gray-800 dark:hover:text-white">
          {{ button.name }}
        </span>
      </button>
    </ng-container>
  </div>
</div>

<div *ngIf="searchState">
  <search-bar
    (search)="search.emit($event)"
    (closeSearch)="searchState = false"
  ></search-bar>
</div>

<div *ngIf="filterState">
  <filter-bar [type]="type" (onFilter)="onFilter.emit($event)"></filter-bar>
</div>
