<div class="grid py-2">
  <div class="inline-flex mx-full" role="group">
    <ng-container *ngFor="let button of buttons">
      <button
        type="button"
        (click)="clickButton(button)"
        class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 hover:text-black dark:bg-gray-900 dark:border-gray-800 dark:text-white dark:hover:text-white dark:hover:bg-gray-800"
        [ngClass]="{
          'rounded-l-xl': button.isFirst,
          'rounded-r-xl': button.isLast,
          'bg-gray-100 text-black': button.isActive,
          'bg-white-100 text-gray-900': !button.isActive
        }"
      >
        <svg-icon [name]="button.icon" [svgClass]="'w-4 h-4'"></svg-icon>
        <span class="hidden sm:block">&nbsp; {{ button.name }}</span>
      </button>
    </ng-container>
  </div>
</div>
<div *ngIf="searchState" class="py-2">
  <search-bar
    @inOut
    (search)="search.emit($event)"
    (closeSearch)="searchState = false"
  ></search-bar>
</div>
<hr class="my-2" />
