<div @inOut class="grid pb-2">
  <div
    class="inline-flex gap-3 overflow-x-auto text-center mx-full scrollbar-hidden"
    role="group"
  >
    <ng-container *ngFor="let button of buttons">
      <div
        (click)="clickButton(button)"
        class="text-base text-center pb-1.5 px-1.5 text-black border-b-2 cursor-pointer hover:border-gray-600 hover:border-b-2"
        [ngClass]="{
          'font-extrabold border-b-gray-600 border-b-2 duration-300':
            button.isActive,
          'font-extralight duration-300': !button.isActive
        }"
      >
        <span class="hover:text-gray-800">{{ button.name }}</span>
      </div>
    </ng-container>
  </div>
</div>

<div *ngIf="searchState">
  <search-bar
    (search)="search.emit($event)"
    (closeSearch)="searchState = false"
  ></search-bar>
</div>
