<ng-container *ngIf="!loading && items.length > 0">
  <div class="my-2 overflow-x-auto scrollbar-hidden">
    <table class="w-full whitespace-nowrap" aria-label="user">
      <ng-container *ngIf="items.length > 0">
        <tr>
          <th
            *ngFor="let x of headers"
            class="text-left cursor-pointer font-extralight dark:text-white hover:opacity-70"
            (click)="onSort.emit(x.key)"
          >
            {{ x.name }}
          </th>
        </tr>
        <tbody>
          <tr
            *ngFor="let item of items"
            class="h-16 border-b border-gray-100 rounded-lg dark:border-black dark:border-0"
          >
            <td *ngFor="let header of headers" class="pr-4 dark:text-white">
              <table-items
                [type]="type"
                [subType]="subType"
                [header]="header"
                [item]="item"
                (onGoToPage)="onGoToPage.emit($event)"
                (onFilter)="onFilter.emit($event)"
                (onShowImage)="onShowImage.emit($event)"
              ></table-items>
            </td>
          </tr>
        </tbody>
        <div
          class="search-results"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          (scrolled)="onScroll.emit()"
        ></div>
      </ng-container>
    </table>
  </div>
</ng-container>

<div class="mt-1" *ngIf="!loading && items.length === 0">
  <alert
    type="warning"
    message="No hay nada disponible por aqui"
    actionText="Quitar"
  ></alert>
</div>
