<div
  id="menu"
  class="fixed top-0 left-0 z-50 hidden px-10 py-16 bg-white md:hidden w-100 md:relative"
>
  <div class="fixed md:hidden z-90 top-4 left-6">
    <a
      @inOut
      href="javascript:void(0)"
      class="text-4xl text-right text-black"
      (click)="toggleMenu.emit()"
      >&times;</a
    >
  </div>

  <ng-template [ngxPermissionsOnly]="['ADMIN']">
    <div class="flex flex-col gap-6 text-xl font-bold text-center text-black">
      <ng-container *ngIf="!adminPage">
        <a
          @inOut
          *ngFor="let menu of menuItemsForAdmin"
          (click)="toggleMenu.emit()"
          class="duration-300 hover:text-gray-500"
          [routerLink]="menu.route"
        >
          {{ menu.name }}
        </a>
      </ng-container>
      <ng-container *ngIf="adminPage">
        <a
          @inOut
          *ngFor="let menu of menuItemsForAdminInAdmin"
          (click)="toggleMenu.emit()"
          class="duration-300 hover:text-gray-500"
          [routerLink]="menu.route"
        >
          {{ menu.name }}
        </a>
      </ng-container>
    </div>
  </ng-template>
  <ng-template [ngxPermissionsExcept]="['ADMIN']">
    <div class="flex flex-col gap-6 text-xl font-bold text-center text-black">
      <a
        @inOut
        *ngFor="let menu of menuItemsForAny"
        (click)="toggleMenu.emit()"
        class="duration-300 hover:text-gray-500"
        [routerLink]="menu.route"
      >
        {{ menu.name }}
      </a>
    </div>
  </ng-template>
</div>
