<div
  @inOut
  class="container grid gap-4 px-3 mx-auto text-center lg:grid-cols-1 rounded-xl"
>
  <div
    @inOut
    class="flex justify-center p-3 my-2 font-semibold bg-gray-100 rounded-lg"
    *ngIf="items.length === 0"
  >
    <svg-icon name="info-circle" class="mr-3"></svg-icon>
    No hay ningun {{ type }} para {{ site.name }}
  </div>

  <div class="grid justify-center grid-cols-2 md:grid-cols-3">
    <div *ngFor="let item of items">
      <div
        class="flex flex-col p-2 py-4 cursor-pointer hover:opacity-90"
        (click)="goTo(item)"
      >
        <img
          [src]="item.image"
          alt="set.name"
          class="object-cover w-full rounded-2xl"
        />
        <div
          class="justify-center hidden my-2 text-xs text-center md:flex gap md:text-lg hover:text-gray-800"
        >
          <div *ngFor="let artist of item.artists; let i = index">
            <span *ngIf="i !== 0">, {{ artist.name }}</span>
            <span *ngIf="i === 0">{{ artist.name }}</span>
          </div>
          <div><span class="ml-1 font-extrabold">@</span> {{ item.name }} {{ item.year }}</div>
        </div>

        <div
          class="flex flex-col justify-center my-2 text-xs text-center md:hidden gap md:text-lg hover:text-gray-800"
        >
          <div *ngFor="let artist of item.artists; let i = index">
            <span *ngIf="i !== 0">, {{ artist.name }}</span>
            <span *ngIf="i === 0">{{ artist.name }}</span>
          </div>
          <div>{{ item.name }} {{ item.year }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
