<header-custom [title]="'Tracks'" [total]="total"></header-custom>

<div class="container px-4 pt-3 mx-auto max-w-full-xl sm:pb-0 max-w-7sm">
  <buttons-block
    type="media"
    (search)="onSearch($event)"
    (onFilter)="onFilter($event)"
    (onClickButton)="onClickButton($event)"
  ></buttons-block>

  <alert
    *ngIf="body.filter && body.filter.length > 0"
    type="info"
    message="Filtro activado."
    actionText="Quitar"
    (action)="removeFilter()"
  ></alert>

  <generic-view-gallery
    *ngIf="view === 'viewGallery'"
    [items]="items"
    [loading]="loading"
    type="track"
    (goToOne)="goToProfile($event)"
    (onScroll)="onScroll()"
  ></generic-view-gallery>

  <media-view-list
    *ngIf="view === 'viewList'"
    [media]="items"
    [loading]="loading"
    type="tracks"
    (goToProfile)="goToProfile($event)"
    (filter)="onFilter($event)"
    (onScroll)="onScroll()"
  ></media-view-list>
</div>
