<header-custom
  [title]="'Clubs'"
  [total]="total"
  (onClickTitle)="goToAdmin()"
></header-custom>

<div class="container px-4 pt-3 mx-auto max-w-full-xl sm:pb-0 max-w-7sm">
  <buttons-block
    type="sites"
    (search)="onSearch($event)"
    (onFilter)="onFilter($event)"
    (onClickButton)="onClickButton($event)"
  ></buttons-block>

  <alert
    type="info"
    message="Filtro activado."
    actionText="Quitar"
    (action)="removeFilter()"
    *ngIf="body.filter && body.filter.length > 0"
  ></alert>

  <generic-view-gallery
    *ngIf="view === 'viewGallery'"
    [items]="items"
    [loading]="loading"
    type="club"
    (goToOne)="goToProfile($event)"
    (onScroll)="onScroll()"
  ></generic-view-gallery>

  <sites-view-list
    *ngIf="view === 'viewList'"
    [sites]="items"
    [loading]="loading"
    (goToProfile)="goToProfile($event)"
    (filter)="onFilter($event)"
    (onScroll)="onScroll()"
  ></sites-view-list>

  <map
    *ngIf="view === 'viewMap' && items.length > 0"
    [class]="'mt-2 rounded-lg overflow-hidden'"
    [style]="'height: calc(100vh - 175px)'"
    [markers]="items"
    [zoom]="6"
  ></map>
</div>
