<div @inOut class="flex justify-center gap-4">
  <div
    *ngFor="let v of views"
    class="px-2 pb-1 text-xl text-center cursor-pointer"
    [ngClass]="{
      'font-extrabold border-b-gray-600 border-b-2 duration-300':
        v.value === view,
      'font-extralight duration-300': v.value !== view
    }"
    (click)="view = v.value"
  >
    {{ v.name }} <span class="text-sm font-extralight">({{ v.counter }})</span>
  </div>
</div>

<artist-last-media-items
  *ngIf="view === 'set'"
  [artist]="artist"
  [type]="view"
></artist-last-media-items>

<artist-last-media-items
  *ngIf="view === 'track'"
  [artist]="artist"
  [type]="view"
></artist-last-media-items>
