<div @inOut class="flex justify-center gap-4">
  <div
    *ngFor="let v of views"
    class="text-lg text-center cursor-pointer"
    [ngClass]="{ 'font-extrabold': v.value === view }"
    (click)="view = v.value"
  >
    {{ v.name }} <span class="text-sm font-light">({{ v.counter }})</span>
  </div>
</div>

<artist-last-media-items
  *ngIf="view === 'set'"
  [artist]="artist"
  [type]="view"
></artist-last-media-items>

<artist-last-media-items
  *ngIf="view === 'track'"
  [artist]="artist"
  [type]="view"
></artist-last-media-items>
