<div *ngIf="optionsChart" class="p-2 border rounded-lg">
  <div class="flex justify-between">
    <header class="flex items-center px-5 py-4 border-b border-gray-100">
    <h2 class="font-semibold text-gray-800">Trafico</h2>
    </header>
    <select
      class="py-1 text-base font-bold bg-gray-100 border border-gray-200 rounded-l-lg dark:border-gray-700 dark:text-white dark:bg-black ring-red-500 dark:ring-red-500"
      placeholder="Selecciona"
      name="dateSelected"
      [(ngModel)]="dateSelected"
      (change)="onChangeSelect()"
    >
      <option [value]="date.value" *ngFor="let date of dataDate">
        {{ date.name }}
      </option>
    </select>
  </div>
  <div>
    <hr class="my-2" />
    <chart-bar *ngIf="!optionsChart.loading" [data]="optionsChart"></chart-bar>
  </div>
</div>
