.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}

.leaflet-marker-icon {
  border-radius: 100% !important;
}

:root {
  --leaflet-tile-filter: brightness(0.6) invert(1) contrast(3)
    hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

@media (prefers-color-scheme: dark) {
  .leaflet-tile {
    filter: var(--leaflet-tile-filter, none);
  }

  .leaflet-container {
    background: #303030;
  }
}
