<ng-container *ngIf="vm.artist || vm.site || vm.event || vm.media">
  <block-info-profile
    *ngIf="type !== 'site' && type !== 'media'"
    [item]="vm[this.type]"
    [type]="type"
  ></block-info-profile>

  <block-info-profile
    *ngIf="type === 'site' || type === 'media'"
    [item]="vm.site"
    [type]="subType"
  ></block-info-profile>

  <ng-container
    *ngIf="type === 'site' && vm.site && vm.site.address && vm.site.address.coordinates"
  >
    <map
      [class]="'lg:container mx-2 h-44 m-2 lg:mx-auto rounded-lg overflow-hidden'"
      [markers]="[vm.site]"
      [zoom]="15"
      [one]="true"
    ></map>
  </ng-container>

  <map
    *ngIf="type === 'event' && vm.event && vm.event.site && vm.event.site.address"
    [class]="'lg:container mx-2 h-44 m-2 lg:mx-auto rounded-lg overflow-hidden'"
    [markers]="[vm.event.site]"
    [zoom]="15"
    [one]="true"
  ></map>

  <last-multi
    *ngIf="type !== 'event' && vm.views.length > 0"
    [item]="this.vm[type]"
    [events]="vm.events"
    [sets]="vm.sets"
    [tracks]="vm.tracks"
    [views]="vm.views"
    (goToPage)="goToPage($event)"
    (likeOrDislike)="$event.itemsType !== 'artists' ? helper.likeOrDislike($event, {items: vm[$event.itemsType], type, subType}): null"
  ></last-multi>

  <last-multi
    *ngIf="type === 'event'  && vm.views.length > 0"
    [item]="vm.event"
    [views]="vm.views"
    (goToPage)="goToPage($event)"
    (likeOrDislike)="$event.itemsType === 'artists' ? helper.likeOrDislike($event, {items: vm.event.artists, type, subType}): null"
  ></last-multi>
</ng-container>
