<div class="py-1 overflow-x-auto text-sm border-0 breadcrumbs">
  <ol class="flex gap-2 list-reset">
    <li>
      <a [routerLink]="'/home'">
        <svg-icon
          name="house"
          [svgStyle]="{ 'width.px': 16, 'height.px': 18 }"
        ></svg-icon>
      </a>
    </li>
    <li>
      <svg-icon
        name="chevron-right-double"
        [svgStyle]="{ 'width.px': 11, 'height.px': 20 }"
      ></svg-icon>
    </li>
    <ng-container *ngFor="let breadcrumb of breadcrumbs; let i = index">
      <li>
        <a *ngIf="i !== breadcrumbs.length - 1" [routerLink]="breadcrumb.url">{{
          breadcrumb.label
        }}</a>
        <span *ngIf="i === breadcrumbs.length - 1">{{ breadcrumb.label }}</span>
      </li>
      <li *ngIf="i !== breadcrumbs.length - 1">
        <svg-icon
          name="chevron-right-double"
          [svgStyle]="{ 'width.px': 11, 'height.px': 20 }"
        ></svg-icon>
      </li>
    </ng-container>
  </ol>
</div>
