<header-custom
  [title]="title"
  [total]="total"
  (onClickTitle)="goToPage({admin: false, typeRoute: 'all'})"
></header-custom>

<div class="container px-4 pt-3 mx-auto max-w-full-xl sm:pb-0 max-w-7sm">
  <tabs
    *ngIf="typeTabs"
    [type]="typeTabs"
    [view]="view"
    (search)="onSearch($event)"
    (onFilter)="onFilter($event)"
    (onClickTab)="onClickTab($event)"
  ></tabs>

  <alert
    type="info"
    message="Filtro activado."
    actionText="Quitar"
    (action)="removeFilter()"
    *ngIf="filter"
  ></alert>

  <ng-container *ngIf="type === 'artist'">
    <artists-view-list
      *ngIf="view === 'viewList'"
      [artists]="artists"
      [loading]="loading"
      (goToPage)="goToPage($event)"
      (filter)="onFilter($event)"
      (onScroll)="onScroll()"
    >
    </artists-view-list>

    <admin-artist-one
      *ngIf="view === 'viewAdd'"
      [artist]="artist"
      (onCreated)="onCreated()"
    ></admin-artist-one>
  </ng-container>

  <ng-container *ngIf="type === 'event'">
    <events-view-list
      *ngIf="view === 'viewList'"
      [items]="events"
      [loading]="loading"
      (goToPage)="goToPage($event)"
      (filter)="onFilter($event)"
      (onScroll)="onScroll()"
    >
    </events-view-list>

    <ng-container *ngIf="view === 'viewScraping'">
      <admin-events-scraping
        (onEventCreated)="reloadItems()"
      ></admin-events-scraping>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="type === 'site'">
    <sites-view-list
      *ngIf="view === 'viewList'"
      [sites]="sites"
      [loading]="loading"
      subType="clubs"
      (goToPage)="goToPage($event)"
      (filter)="onFilter($event)"
      (onScroll)="onScroll()"
    ></sites-view-list>

    <admin-site-one
      *ngIf="view === 'viewAdd'"
      [site]="site"
      [type]="subType === 'club' ? 'club' : 'festival'"
      (onCreated)="onCreated()"
    ></admin-site-one>
  </ng-container>

  <ng-container *ngIf="type === 'media'">
    <media-view-list
      *ngIf="view === 'viewList'"
      [media]="medias"
      [loading]="loading"
      [type]="subType === 'set' ? 'set' : 'track'"
      (goToPage)="goToPage($event)"
      (filter)="onFilter($event)"
      (onScroll)="onScroll()"
    ></media-view-list>

    <ng-container *ngIf="view === 'viewAdd'">
      <admin-media-add-search
        [source]="mediaSource"
        [searchText]="searchText"
        (onChangeSource)="mediaSource = $event"
        (search)="searchAdd($event)"
      ></admin-media-add-search>

      <div *ngIf="media?.name === ''">
        <admin-media-add-search-items
          [items]="itemsSearch"
          [itemSelected]="scrapingItemSelected!"
          (selectItem)="selectItem($event)"
        ></admin-media-add-search-items>
      </div>

      <admin-media-one
        *ngIf="media?.name !== ''"
        [media]="media"
        [scraping]="scraping"
        (onSubmitSuccess)="onCreated()"
      ></admin-media-one>
    </ng-container>
  </ng-container>

  <div
    class="grid gap-2 mt-2 md:gap-4 md:grid-cols-3"
    *ngIf="view === 'viewStats'"
  >
    <block-stats
      *ngIf="stats.topSocial && stats.topSocial.length > 0"
      type="topSocial"
      [items]="stats.topSocial"
    ></block-stats>
    <block-stats
      *ngIf="stats.topCountries && stats.topCountries.length > 0"
      type="topCountries"
      [items]="stats.topCountries"
    ></block-stats>
    <block-stats
      *ngIf="stats.topStates && stats.topStates.length > 0"
      type="topStates"
      [items]="stats.topStates"
    ></block-stats>
    <block-stats
      *ngIf="stats.topStyles && stats.topStyles.length > 0"
      type="topStyles"
      [items]="stats.topStyles"
    ></block-stats>
    <block-stats
      *ngIf="stats.topVarious && stats.topVarious.length > 0"
      type="topVarious"
      [items]="stats.topVarious"
    ></block-stats>
  </div>
</div>
