<header-custom [title]="title"></header-custom>

<div class="container px-4 pt-3 mx-auto max-w-full-xl sm:pb-0 max-w-7sm">
  <buttons-block
    *ngIf="id"
    type="styleAdmin"
    (onClickButton)="onClickButton($event)"
  ></buttons-block>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-6">
      <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
        Nombre
      </label>
      <input
        id="name"
        type="text"
        formControlName="name"
        placeholder="Introduce el nombre"
        class="w-full px-6 py-3 text-base font-medium bg-white border border-gray-200 rounded-md"
      />
    </div>

    <button
      *ngIf="style._id"
      (click)="onDelete()"
      class="w-full py-1 m-1 text-white bg-red-500 border-2 border-red-500 hover:bg-red-600 hover:border-red-600 hover:text-white md:w-32 rounded-2xl"
    >
      Eliminar
    </button>
    <button
      type="submit"
      [disabled]="!form.valid"
      class="w-full py-1 m-1 md:w-32 rounded-2xl"
      [ngClass]="form.valid ? 'bg-green-500 border-green-500 text-white hover:bg-green-600 hover:border-green-600' : 'text-white bg-green-300 border-2 border-green-300'"
    >
      Guardar
    </button>
  </form>
</div>
