<form *ngIf="artist" @inOut>
  <div class="grid grid-cols-1 gap-4 mt-1 lg:grid-cols-4">
    <div class="col-span-4 mb-1 md:col-span-2">
      <images-edit-block
        [item]="artist"
        (showImage)="showImage($event)"
        (removeImage)="removeImage($event)"
        (setFirstImage)="setFirstImage($event)"
        (toggleAddImage)="imageState = !imageState"
      ></images-edit-block>
    </div>

    <div class="col-span-4 md:col-span-2">
      <div class="col-span-2 md:col-span-2">
        <label
          for="name"
          class="block mb-1 text-base font-extrabold text-black dark:text-white"
        >
          Nombre
        </label>
        <div class="flex">
          <input
            name="name"
            type="text"
            (keydown.enter)="$event.preventDefault(); onKeyUpName()"
            [(ngModel)]="artist.name"
            placeholder="Introduce el nombre"
            class="w-full px-6 text-base font-medium bg-white border border-gray-200 dark:border-gray-700 dark:text-white dark:bg-black rounded-y-md rounded-l-md ring-red-500 dark:ring-red-500"
          />
          <button
            class="px-3 bg-gray-100 rounded-r-lg cursor-pointer dark:bg-gray-800 hover:opacity-80"
            (click)="onKeyUpName()"
          >
            <svg-icon class="dark:text-white" name="search"></svg-icon>
          </button>
        </div>
      </div>

      <div class="col-span-2 md:col-span-1">
        <label
          for="country"
          class="flex gap-2 mt-2 mb-1 text-base font-extrabold text-black dark:text-white"
        >
          Pais
          <img
            *ngIf="artist.country !== ''"
            [src]="artist.country! | countryFlag"
            [alt]="artist.country"
          />
        </label>
        <select
          name="country"
          [(ngModel)]="artist.country"
          placeholder="Introduce el codigo del pais"
          class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-md dark:border-gray-700 dark:text-white dark:bg-black rounded-y-md ring-red-500 dark:ring-red-500"
        >
          <option
            *ngFor="let countryItem of countries"
            [value]="countryItem.id"
          >
            {{ countryItem.name }}
          </option>
        </select>
      </div>

      <div class="col-span-2 md:col-span-1">
        <label
          for="birthdate"
          class="block mt-2 mb-1 text-base font-extrabold text-black dark:text-white"
        >
          Fecha nacimiento (EN)
        </label>
        <input
          name="birthdate"
          type="text"
          [(ngModel)]="artist.birthdate"
          placeholder="Introduce la fecha de nacimiento"
          class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-md dark:border-gray-700 dark:text-white dark:bg-black rounded-y-md ring-red-500 dark:ring-red-500"
        />
      </div>

      <div class="col-span-2 md:col-span-2">
        <label
          for="gender"
          class="block mt-2 mb-1 text-base font-extrabold text-black dark:text-white"
        >
          Genero
        </label>
        <select
          name="gender"
          type="text"
          [(ngModel)]="artist.gender"
          placeholder="Introduce el Genero"
          class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-md dark:border-gray-700 dark:text-white dark:bg-black rounded-y-md ring-red-500 dark:ring-red-500"
        >
          <option value="male">Hombre</option>
          <option value="female">Mujer</option>
          <option value="various">Varios</option>
        </select>
      </div>

      <div class="col-span-2">
        <search-input type="style" [item]="artist"></search-input>
      </div>
    </div>
    <div class="col-span-2 md:col-span-4">
      <images-upload-url
        [imageState]="imageState"
        [image]="image"
        (showImage)="showImage($event)"
        (uploadImageByUrl)="uploadImageByUrl($event)"
        [scraping]="scraping"
      ></images-upload-url>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4 mt-1 lg:grid-cols-4">
    <div class="col-span-4">
      <social-inputs type="artist" [item]="artist"></social-inputs>
    </div>

    <div class="col-span-4">
      <div class="mb-1 md:col-span-4">
        <label
          for="info"
          class="block mb-1 text-base font-extrabold text-black dark:text-white"
        >
          Info
        </label>
        <div class="w-full overflow-hidden bg-white rounded-lg">
          <angular-editor
            name="info"
            class=""
            [placeholder]="'Introduce informacion'"
            [(ngModel)]="artist.info"
          ></angular-editor>
        </div>
      </div>
      <div
        class="grid grid-cols-1 mt-2 overflow-hidden rounded-lg cursor-pointer lg:grid-cols-2"
      >
        <div
          class="px-3 py-2 mx-1 my-1 border rounded-lg"
          *ngFor="let info of scraping.infos"
        >
          <div
            [innerHTML]="info | truncateText: 100"
            class="dark:text-white"
            (click)="showInfo(info)"
          ></div>
          <button
            (click)="selectInfo(info)"
            class="w-full p-2 mt-2 text-black bg-gray-100 shadow-md hover:bg-gray-200 rounded-xl"
            [ngClass]="{
              'bg-black text-white': info === artist.info,
              'bg-gray-100 text-black': info !== artist.info
            }"
          >
            Seleccionar
          </button>
        </div>
      </div>
    </div>

    <div class="col-span-4 mb-2 md:col-span-2">
      <button
        type="submit"
        (click)="onSubmit()"
        class="w-full py-1 m-1 text-white bg-green-500 border-green-500 rounded-lg shadow-md md:w-32 hover:bg-green-600 hover:border-green-600'"
      >
        Guardar
      </button>
      <button
        type="button"
        *ngIf="artist._id"
        (click)="onDelete()"
        class="w-full py-1 m-1 text-white bg-red-500 border-2 border-red-500 rounded-lg shadow-md hover:bg-red-600 hover:border-red-600 hover:text-white md:w-32"
      >
        Eliminar
      </button>

      <button
        type="button"
        *ngIf="artist._id"
        (click)="goToProfile()"
        class="w-full py-1 m-1 text-white bg-blue-500 border-2 border-blue-500 rounded-lg shadow-md hover:bg-blue-600 hover:border-blue-600 hover:text-white md:w-32"
      >
        Ver perfil
      </button>
    </div>
  </div>
</form>
