<form @inOut *ngIf="site">
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
    <images-edit-block
      [item]="site"
      (showImage)="showImage($event)"
      (removeImage)="removeImage($event)"
      (setFirstImage)="setFirstImage($event)"
      (toggleAddImage)="imageState = !imageState"
    ></images-edit-block>
    <div
      *ngIf="site.address.coordinates.length === 2"
      class="col-span-2 mb-1 md:col-span-1"
    >
      <map
        [class]="'rounded-lg overflow-hidden'"
        [style]="'height: 27.85rem'"
        [markers]="[site]"
        [zoom]="14"
        [draggable]="true"
        [center]="site.address.coordinates"
      ></map>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4">
    <div class="col-span-2 md:col-span-1">
      <label
        for="name"
        class="mb-3 block text-base font-extrabold text-[#07074D]"
      >
        Nombre
      </label>
      <div class="flex">
        <input
          name="name"
          type="text"
          [(ngModel)]="site.name"
          placeholder="Introduce el nombre"
          class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-lg"
        />
        <button
          class="px-3 bg-gray-100 rounded-r-lg cursor-pointer hover:opacity-80"
          (click)="onKeyUpName()"
        >
          <svg-icon name="search"></svg-icon>
        </button>
      </div>
    </div>

    <div class="col-span-2 md:col-span-1">
      <label
        for="street"
        class="mb-3 block text-base font-extrabold text-[#07074D]"
      >
        Direccion
      </label>
      <div class="flex">
        <input
          name="street"
          type="text"
          [(ngModel)]="site.address.street"
          placeholder="Introduce la direccion"
          class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-l-md"
        />
        <button
          class="px-3 bg-gray-100 rounded-r-lg cursor-pointer hover:opacity-70"
          (click)="addressToCoordinates()"
        >
          Coordenadas
        </button>
      </div>
    </div>

    <div class="col-span-2 md:col-span-2">
      <label
        for="town"
        class="mb-3 block text-base font-extrabold text-[#07074D]"
      >
        Poblacion
      </label>
      <input
        name="town"
        type="text"
        [(ngModel)]="site.address.town"
        placeholder="Introduce la poblacion"
        class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-lg"
      />
    </div>

    <div class="col-span-2 md:col-span-1">
      <label
        for="state"
        class="mb-3 block text-base font-extrabold text-[#07074D]"
      >
        Comunidad / Estado
      </label>
      <input
        name="state"
        type="text"
        [(ngModel)]="site.address.state"
        placeholder="Introduce la ciudad"
        class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-lg"
      />
    </div>

    <div class="col-span-2 md:col-span-1">
      <label
        for="country"
        class="flex gap-2 mb-3 text-base font-extrabold text-black"
      >
        Pais
        <img
          *ngIf="site.address.country !== ''"
          [src]="site.address.country! | countryFlag"
          [alt]="site.address.country"
        />
      </label>
      <select
        name="country"
        [(ngModel)]="site.address.country!"
        placeholder="Introduce el codigo del pais"
        class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-lg"
      >
        <option *ngFor="let countryItem of countries" [value]="countryItem.id">
          {{ countryItem.name }}
        </option>
      </select>
    </div>

    <div class="col-span-2 md:col-span-1">
      <label
        for="lat"
        class="mb-3 block text-base font-extrabold text-[#07074D]"
      >
        Latitud
      </label>
      <div class="flex">
        <input
          name="lat"
          type="text"
          [(ngModel)]="site.address.coordinates[0]"
          placeholder="Introduce el nombre"
          class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-lg"
        />
        <button
          class="px-3 bg-gray-100 rounded-r-lg cursor-pointer hover:opacity-70"
          (click)="coordinatesToAddress()"
        >
          Direccion
        </button>
      </div>
    </div>

    <div class="col-span-2 md:col-span-1">
      <label
        for="lng"
        class="mb-3 block text-base font-extrabold text-[#07074D]"
      >
        Longitud
      </label>
      <input
        name="lng"
        type="text"
        [(ngModel)]="site.address.coordinates[1]"
        placeholder="Introduce el nombre"
        class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-lg"
      />
    </div>

    <div class="col-span-2 md:col-span-4">
      <images-upload-url
        [imageState]="imageState"
        [image]="image"
        (showImage)="showImage($event)"
        (uploadImageByUrl)="uploadImageByUrl($event)"
        [scraping]="scraping"
      ></images-upload-url>
    </div>

    <div class="col-span-2 md:col-span-4">
      <label class="block mb-3 text-base font-extrabold text-black">
        <span class="text-gray-700">Estilos</span>
      </label>
      <div class="flex gap-2 my-3">
        <span
          (click)="onClickStyleItem(styleSelected)"
          class="px-2 py-1 text-xs bg-gray-100 border rounded-lg shadow-md cursor-pointer"
          *ngFor="let styleSelected of site.styles"
        >
          {{ styleSelected.name }}
        </span>
      </div>
      <select
        class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-lg form-multiselect"
        (change)="onChangeStyleSelect($event)"
      >
        <option [disabled]="true">Selecciona estilo</option>
        <option *ngFor="let style of styles" [value]="style._id">
          {{ style.name }}
        </option>
      </select>
    </div>

    <div class="col-span-2 md:col-span-1">
      <label for="web" class="block mb-3 text-base font-extrabold text-black">
        Web
      </label>
      <input
        name="web"
        type="text"
        [(ngModel)]="site.social.web"
        placeholder="Introduce Web"
        class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-lg"
      />
    </div>
    <div class="col-span-2 mb-1 md:col-span-1">
      <label
        for="facebook"
        class="block mb-3 text-base font-extrabold text-black"
      >
        Facebook
      </label>
      <input
        name="facebook"
        type="text"
        [(ngModel)]="site.social.facebook"
        placeholder="Introduce Facebook"
        class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-lg"
      />
    </div>
    <div class="col-span-2 mb-1 md:col-span-1">
      <label
        for="twitter"
        class="block mb-3 text-base font-extrabold text-black"
      >
        Twitter
      </label>
      <input
        name="twitter"
        type="text"
        [(ngModel)]="site.social.twitter"
        placeholder="Introduce Twitter"
        class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-lg"
      />
    </div>
    <div class="col-span-2 mb-1 md:col-span-1">
      <label
        for="soundcloud"
        class="block mb-3 text-base font-extrabold text-black"
      >
        Soundcloud
      </label>
      <input
        name="soundcloud"
        type="text"
        [(ngModel)]="site.social.soundcloud"
        placeholder="Introduce Soundcloud"
        class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-lg"
      />
    </div>

    <div class="col-span-2 mb-1 md:col-span-1">
      <label
        for="spotify"
        class="block mb-3 text-base font-extrabold text-black"
      >
        Spotify
      </label>
      <input
        name="spotify"
        type="text"
        [(ngModel)]="site.social.spotify"
        placeholder="Introduce Spotify"
        class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-lg"
      />
    </div>

    <div class="col-span-2 mb-1 md:col-span-1">
      <label
        for="tiktok"
        class="block mb-3 text-base font-extrabold text-black"
      >
        TikTok
      </label>
      <input
        name="tiktok"
        type="text"
        [(ngModel)]="site.social.tiktok"
        placeholder="Introduce Tiktok"
        class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-lg"
      />
    </div>

    <div class="col-span-2 mb-1 md:col-span-1">
      <label
        for="instagram"
        class="block mb-3 text-base font-extrabold text-black"
      >
        Instagram
      </label>
      <input
        name="instagram"
        type="text"
        [(ngModel)]="site.social.instagram"
        placeholder="Introduce Instagram"
        class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-lg"
      />
    </div>

    <div class="col-span-2 mb-1 md:col-span-1">
      <label
        for="instagram"
        class="block mb-3 text-base font-extrabold text-black"
      >
        Email
      </label>
      <input
        name="email"
        type="text"
        [(ngModel)]="site.social.email"
        placeholder="Introduce email"
        class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-lg"
      />
    </div>

    <div class="col-span-2 md:col-span-4">
      <label for="info" class="block mb-3 text-base font-extrabold text-black">
        Info
      </label>
      <angular-editor
        name="info"
        [placeholder]="'Introduce informacion'"
        [(ngModel)]="site.info"
      ></angular-editor>
    </div>

    <div class="col-span-2 mb-2">
      <button
        type="submit"
        (click)="onSubmit()"
        class="w-full py-1 m-1 text-white bg-green-500 border-green-500 rounded-lg shadow-md md:w-32 hover:bg-green-600 hover:border-green-600'"
      >
        Guardar
      </button>
      <button
        type="button"
        *ngIf="site._id"
        (click)="onDelete()"
        class="w-full py-1 m-1 text-white bg-red-500 border-2 border-red-500 rounded-lg shadow-md hover:bg-red-600 hover:border-red-600 hover:text-white md:w-32"
      >
        Eliminar
      </button>
    </div>
  </div>
</form>
