<div class="pt-16" @inOut>
  <div
    class="mx-auto mt-3 overflow-hidden border-2 w-52 h-52"
    [ngClass]="{
      'rounded-full': !item.address,
      'rounded-2xl': item.address
    }"
  >
    <img
      [src]="item.images! | imageArray"
      class="object-cover w-full h-full shadow-sm cursor-pointer hover:filter-grayscale hover:scale-105 hover:duration-1000"
      [alt]="item.name"
      (click)="showImage(item.images![0].url!)"
      onError
    />
  </div>

  <div
    class="flex justify-center gap-2 pt-2 text-3xl font-black text-center cursor-pointer dark:text-white"
  >
    <div *ngxPermissionsOnly="'ADMIN'" (click)="goToEdit(item._id!)">
      {{ item.name }}
    </div>

    <div *ngxPermissionsExcept="'ADMIN'">
      {{ item.name }}
    </div>

    <span
      class="text-lg text-gray-600 dark:text-gray-400 font-extralight"
      *ngIf="item.birthdate && item.birthdate !== ''"
    >
      {{ getYearsOld(item.birthdate!) }}
    </span>
  </div>

  <div
    *ngIf="item.country"
    class="py-1 mx-auto cursor-pointer"
    (click)="goToFilter('country', item.country!)"
  >
    <div
      class="flex items-center justify-center gap-2 font-extralight dark:text-white"
    >
      <img class="w-6" [src]="item.country! | countryFlag" alt="item.name" />
      {{ item.country! | countryName }}
    </div>
  </div>

  <ng-container *ngIf="item.address">
    <div class="text-center dark:text-white font-extralight">
      <p *ngIf="item.address.street !== '' && item.address.town !== ''">
        {{ item.address.street }}, {{ item.address.town }}
      </p>
      <p *ngIf="item.address.street !== '' && item.address.town === ''">
        {{ item.address.street }}, {{ item.address.state }}
      </p>
    </div>

    <div
      class="py-1 mx-auto cursor-pointer"
      (click)="goToFilter('country', item.address.country!)"
    >
      <div
        class="flex items-center justify-center gap-2 font-extralight dark:text-white"
      >
        <img
          class="w-6"
          [src]="item.address.country! | countryFlag"
          alt="item.name"
        />
        {{ item.address.country! | countryName }}
      </div>
    </div>
  </ng-container>
  <div *ngIf="type === 'event'" class="flex justify-center">
    <div class="p-2 pt-3.5 flex gap-2 items-center">
      <div class="flex w-full gap-3">
        <img
          [src]="item.site.images! | imageArray"
          [alt]="item.site.name"
          onError
          class="object-cover object-center w-12 h-12 cursor-pointer rounded-2xl lg:h-12 lg:w-12 hover:filter-grayscale hover:scale-105 hover:duration-1000"
        />

        <div class="flex flex-col">
          <p
            class="my-1 mr-2 text-base font-extrabold leading-none text-black cursor-pointer dark:text-white hover:text-gray-500"
          >
            {{ item.site.name }}
          </p>
          <div class="flex items-center gap-1">
            <img
              [src]="item.site.address.country! | countryFlag"
              [alt]="item.site.address.country"
              class="w-4 h-4 my-1 cursor-pointer hover:scale-110 hover:duration-1000"
            />
            <p class="text-sm text-gray-500">
              {{ item.site.address.state | fixState | truncateText: 10 }}
            </p>
          </div>
        </div>
      </div>

      <div
        class="flex flex-col gap-1 px-2 py-2 text-center text-white bg-black rounded-lg rounded-bl-lg dark:bg-gray-800"
      >
        <div class="text-xs font-light">
          {{ item.date | dateToDayOrMonth: 'day' }}
        </div>
        <div class="text-xs font-bold">
          {{ item.date | dateToDayOrMonth: 'month' | uppercase }}
        </div>
      </div>
    </div>
  </div>

  <div class="p-2 text-center" *ngIf="item.styles!.length > 0">
    <span *ngFor="let style of item.styles; index as i">
      <a
        (click)="goToFilter('styles', style.name)"
        class="px-2 py-1 mr-2 text-xs bg-gray-100 border border-gray-100 shadow-md cursor-pointer dark:text-white dark:bg-black dark:border-gray-800 rounded-2xl hover:opacity-80"
      >
        {{ style.name }}
      </a>
    </span>
  </div>

  <div class="flex justify-center gap-3">
    <div
      class="py-2"
      *ngIf="item.social?.web && item.social?.web !== ''"
      (click)="goToSocial(item.social.web)"
    >
      <svg-icon
        name="web"
        svgClass="h-8 w-8 dark:fill-white hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="item.social?.facebook && item.social?.facebook !== ''"
      (click)="goToSocial(item.social.facebook)"
    >
      <svg-icon
        name="facebook"
        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="item.social?.twitter && item.social?.twitter !== ''"
      (click)="goToSocial(item.social.twitter)"
    >
      <svg-icon
        name="twitter"
        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="item.social?.soundcloud && item.social?.soundcloud !== ''"
      (click)="goToSocial(item.social.soundcloud)"
    >
      <svg-icon
        name="soundcloud"
        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="item.social?.spotify && item.social?.spotify !== ''"
      (click)="goToSocial(item.social.spotify)"
    >
      <svg-icon
        name="spotify"
        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="item.social?.tiktok && item.social?.tiktok !== ''"
      (click)="goToSocial(item.social.tiktok)"
    >
      <svg-icon
        name="tiktok"
        svgClass="h-8 w-8 dark:fill-white hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="item.social?.instagram && item.social?.instagram !== ''"
      (click)="goToSocial(item.social.instagram)"
    >
      <svg-icon
        name="instagram"
        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="item.social?.mixcloud && item.social?.mixcloud !== ''"
      (click)="goToSocial(item.social.mixcloud)"
    >
      <svg-icon
        name="mixcloud"
        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
  </div>

  <div class="px-6 py-2 text-center" *ngIf="item.info !== ''">
    <div
      *ngIf="!moreInfo"
      class="font-extralight lg:px-8 dark:text-white"
      [innerHTML]="item.info! | truncateText: 150"
    ></div>
    <div
      *ngIf="moreInfo"
      class="lg:px-8 dark:text-white font-extralight"
      [innerHTML]="item.info!"
    ></div>
    <p
      *ngIf="item.info!.length > 150"
      class="mt-2 font-bold cursor-pointer dark:text-white"
      (click)="moreInfo = !moreInfo"
    >
      {{ !moreInfo ? 'Leer mas' : 'Leer menos' }}
    </p>
  </div>
</div>
