<div *ngIf="item" class="pt-16" @inOut>
  <!-- Image -->
  <block-info-profile-image
    [item]="item"
    [type]="type"
  ></block-info-profile-image>

  <!-- Date -->
  <p
    *ngIf="type === 'event'"
    class="pb-1 text-lg text-center dark:text-white font-extralight"
  >
    {{ getDate() }}
  </p>

  <!-- Name -->
  <div
    class="flex justify-center gap-2 p-1 text-3xl font-black text-center dark:text-white"
  >
    <div
      class="cursor-pointer hover:opacity-70"
      *ngxPermissionsOnly="'ADMIN'"
      (click)="goToPage({ type, admin: true, typeRoute: 'one', item })"
    >
      {{ item.name }}
    </div>

    <div *ngxPermissionsExcept="'ADMIN'">
      {{ item.name }}
    </div>

    <span
      class="text-lg text-gray-600 dark:text-gray-400 font-extralight"
      *ngIf="item.birthdate && item.birthdate !== ''"
    >
      {{ getYearsOld(item.birthdate!) }}
    </span>
  </div>

  <div *ngIf="item.country" class="py-1 mx-auto">
    <div
      class="flex items-center justify-center gap-2 font-extralight dark:text-white"
    >
      <img
        (click)="goToFilter('country', item.country!)"
        class="w-6 cursor-pointer"
        [src]="item.country! | countryFlag"
        alt="item.name"
      />
      <span
        class="cursor-pointer hover:opacity-70"
        (click)="goToFilter('country', item.country!)"
      >
        {{ item.country! | countryName }}
      </span>
    </div>
  </div>

  <!-- Site Address -->
  <block-info-profile-address
    *ngIf="type === 'club' || type === 'festival'"
    [item]="item"
    [type]="type"
  ></block-info-profile-address>

  <!-- Event Site Name -->
  <div *ngIf="type === 'event' && item" class="pb-2">
    <p class="text-base text-center dark:text-white font-extralight">@</p>
    <p
      *ngIf="item.site"
      class="pt-1 text-3xl font-black text-center cursor-pointer dark:text-white hover:opacity-70"
      (click)="
        goToPage({ type: item.site.type, typeRoute: 'one', item: item.site })
      "
    >
      {{ item.site.name }}
    </p>
  </div>

  <block-info-profile-address
    *ngIf="type === 'event'"
    [item]="item.site"
    [type]="type"
  ></block-info-profile-address>

  <!-- Styles -->
  <div
    class="flex gap-1 px-3 py-1 my-2 overflow-x-scroll scrollbar-hidden"
    *ngIf="item.styles && item.styles!.length > 0"
    [class]="
      item.styles.length <= 3
        ? 'justify-center md:justify-center'
        : 'justify-start md:justify-center'
    "
  >
    <div *ngFor="let style of item.styles; index as i">
      <a
        (click)="goToFilter('styles', style.name)"
        class="px-3 py-1 mr-2 font-medium border border-gray-300 rounded-lg cursor-pointer dark:text-white dark:bg-black dark:border-gray-800 hover:opacity-80"
      >
        {{ style.name }}
      </a>
    </div>
  </div>

  <!-- Social -->
  <block-social
    *ngIf="type !== 'event'"
    [type]="type"
    [item]="item"
  ></block-social>

  <block-social
    *ngIf="type === 'event'"
    [type]="type"
    [item]="item.site"
  ></block-social>

  <!-- Compartir & Reportar -->
  <block-sharing-report [item]="item" [type]="type"></block-sharing-report>

  <!-- Info -->
  <div class="px-6 py-2 text-center" *ngIf="item.info !== ''">
    <div
      *ngIf="!moreInfo"
      class="font-extralight lg:px-8 dark:text-white"
      [innerHTML]="item.info! | truncateText: 150"
    ></div>
    <div
      *ngIf="moreInfo"
      class="lg:px-8 dark:text-white font-extralight"
      [innerHTML]="item.info!"
    ></div>
    <button
      *ngIf="item.info && item.info!.length > 150"
      class="px-3 py-1 mt-3 font-medium border border-gray-300 rounded-lg cursor-pointer hover:opacity-70 dark:bg-black dark:border-gray-800 dark:text-white"
      (click)="moreInfo = !moreInfo"
    >
      {{ !moreInfo ? 'Leer mas' : 'Leer menos' }}
    </button>
  </div>
</div>
