<div class="pt-16" @inOut>
  <!-- Image -->
  <div
    class="mx-auto mt-3 overflow-hidden border-2 h-52 w-52 dark:border-2 dark:border-gray-800"
    [ngClass]="{
      'rounded-full': type === 'artist',
      'rounded-2xl': type === 'club' || type === 'festival' || type === 'event',
      'h-80': type === 'event'
    }"
  >
    <img
      [src]="item.images! | imageArray"
      class="object-cover w-full h-full shadow-sm cursor-pointer hover:filter-grayscale hover:scale-105 hover:duration-1000"
      [alt]="item.name"
      (click)="showImage(item.images![0].url!)"
      onError
    />
  </div>

  <!-- Name -->
  <div
    class="flex justify-center gap-2 pt-2 text-3xl font-black text-center dark:text-white"
  >
    <div
      class="cursor-pointer hover:opacity-70"
      *ngxPermissionsOnly="'ADMIN'"
      (click)="goToEdit(item._id!)"
    >
      {{ item.name }}
    </div>

    <div *ngxPermissionsExcept="'ADMIN'">
      {{ item.name }}
    </div>

    <span
      class="text-lg text-gray-600 dark:text-gray-400 font-extralight"
      *ngIf="item.birthdate && item.birthdate !== ''"
    >
      {{ getYearsOld(item.birthdate!) }}
    </span>
  </div>

  <div *ngIf="item.country" class="py-1 mx-auto">
    <div
      class="flex items-center justify-center gap-2 font-extralight dark:text-white"
    >
      <img
        (click)="goToFilter('country', item.country!)"
        class="w-6 cursor-pointer"
        [src]="item.country! | countryFlag"
        alt="item.name"
      />
      <span
        class="cursor-pointer hover:opacity-70"
        (click)="goToFilter('country', item.country!)"
      >
        {{ item.country! | countryName }}
      </span>
    </div>
  </div>

  <!-- Site Address -->
  <ng-container *ngIf="item.address">
    <div class="text-center dark:text-white font-extralight">
      <p *ngIf="item.address.street !== '' && item.address.town !== ''">
        {{ item.address.street }},
        <span
          class="cursor-pointer hover:opacity-70"
          (click)="goToFilter('town', item.address.town!)"
        >
          {{ item.address.town }}
        </span>
      </p>
      <p *ngIf="item.address.street !== '' && item.address.town === ''">
        {{ item.address.street }},
        <span
          class="cursor-pointer hover:opacity-70"
          (click)="goToFilter('state', item.address.state!)"
        >
          {{ item.address.state }}
        </span>
      </p>
    </div>

    <div
      class="flex items-center justify-center gap-2 py-1 mx-auto font-extralight dark:text-white"
    >
      <img
        class="w-6 cursor-pointer"
        [src]="item.address.country! | countryFlag"
        alt="item.name"
        (click)="goToFilter('country', item.address.country!)"
      />
      <span
        class="cursor-pointer hover:opacity-70"
        (click)="goToFilter('state', item.address.state!)"
      >
        {{ item.address.state }},
      </span>
      <span
        class="cursor-pointer hover:opacity-70"
        (click)="goToFilter('country', item.address.country!)"
      >
        {{ item.address.country! | countryName }}
      </span>
    </div>
  </ng-container>

  <!-- Styles -->
  <div
    class="flex gap-1 px-3 py-1 my-2 overflow-x-scroll text-center md:justify-center scrollbar-hidden"
    *ngIf="item.styles!.length > 0"
    [ngClass]="{ 'justify-center': 'items.styles.length <= 3' }"
  >
    <div *ngFor="let style of item.styles; index as i">
      <a
        (click)="goToFilter('styles', style.name)"
        class="px-3 py-1 mr-2 font-medium border border-gray-300 rounded-lg cursor-pointer dark:text-white dark:bg-black dark:border-gray-800 hover:opacity-80"
      >
        {{ style.name }}
      </a>
    </div>
  </div>

  <div *ngIf="type === 'event'" class="">
    <ng-container *ngIf="item.site.address">
      <div class="text-center dark:text-white font-extralight">
        <p class="text-xl font-black">
          {{ item.site.name }}
        </p>
        <p
          *ngIf="
            item.site.address.street !== '' && item.site.address.town !== ''
          "
        >
          {{ item.site.address.street }},
          <span
            class="cursor-pointer hover:opacity-70"
            (click)="goToFilter('town', item.site.address.town!)"
          >
            {{ item.site.address.town }}
          </span>
        </p>
        <p
          *ngIf="
            item.site.address.street !== '' && item.site.address.town === ''
          "
        >
          {{ item.site.address.street }},
          <span
            class="cursor-pointer hover:opacity-70"
            (click)="goToFilter('state', item.site.address.state!)"
          >
            {{ item.site.address.state }}
          </span>
        </p>
      </div>

      <div
        class="flex items-center justify-center gap-2 py-1 mx-auto font-extralight dark:text-white"
      >
        <img
          class="w-6 cursor-pointer"
          [src]="item.site.address.country! | countryFlag"
          alt=""
          (click)="goToFilter('country', item.site.address.country!)"
        />
        <span
        class="cursor-pointer hover:opacity-70"
        (click)="goToFilter('state', item.site.address.state!)"
      >
        {{ item.site.address.state }},
      </span>
      <span
        class="cursor-pointer hover:opacity-70"
        (click)="goToFilter('country', item.site.address.country!)"
      >
        {{ item.site.address.country! | countryName }}
      </span>

      </div>
    </ng-container>
  </div>

  <!-- Social -->
  <div class="flex justify-center gap-3">
    <div
      class="py-2"
      *ngIf="item.social?.web && item.social?.web !== ''"
      (click)="goToSocial(item.social.web)"
    >
      <svg-icon
        name="web"
        svgClass="h-8 w-8 dark:fill-white hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="item.social?.facebook && item.social?.facebook !== ''"
      (click)="goToSocial(item.social.facebook)"
    >
      <svg-icon
        name="facebook"
        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="item.social?.twitter && item.social?.twitter !== ''"
      (click)="goToSocial(item.social.twitter)"
    >
      <svg-icon
        name="twitter"
        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="item.social?.soundcloud && item.social?.soundcloud !== ''"
      (click)="goToSocial(item.social.soundcloud)"
    >
      <svg-icon
        name="soundcloud"
        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="item.social?.spotify && item.social?.spotify !== ''"
      (click)="goToSocial(item.social.spotify)"
    >
      <svg-icon
        name="spotify"
        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="item.social?.tiktok && item.social?.tiktok !== ''"
      (click)="goToSocial(item.social.tiktok)"
    >
      <svg-icon
        name="tiktok"
        svgClass="h-8 w-8 dark:fill-white hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="item.social?.instagram && item.social?.instagram !== ''"
      (click)="goToSocial(item.social.instagram)"
    >
      <svg-icon
        name="instagram"
        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="item.social?.mixcloud && item.social?.mixcloud !== ''"
      (click)="goToSocial(item.social.mixcloud)"
    >
      <svg-icon
        name="mixcloud"
        svgClass="h-8 w-8 hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
    <div
      class="py-2"
      *ngIf="item.social?.youtube && item.social?.youtube !== ''"
      (click)="goToSocial(item.social.youtube)"
    >
      <svg-icon
        name="youtube"
        svgClass="h-8 w-8 fill-red-600 hover:scale-110 hover:duration-1000 cursor-pointer"
      ></svg-icon>
    </div>
  </div>

  <!-- Compartir & Reportar -->
  <div class="flex flex-row justify-center gap-2">
    <button
      (click)="sharing()"
      class="px-3 py-1 mt-3 font-medium border border-gray-300 rounded-lg cursor-pointer hover:opacity-70 dark:bg-black dark:border-gray-800 dark:text-white"
    >
      Compartir
    </button>

    <button
      (click)="report()"
      class="px-3 py-1 mt-3 font-medium border border-gray-300 rounded-lg cursor-pointer hover:opacity-70 dark:bg-black dark:border-gray-800 dark:text-white"
    >
      Reportar
    </button>
  </div>

  <!-- Info -->
  <div class="px-6 py-2 text-center" *ngIf="item.info !== ''">
    <div
      *ngIf="!moreInfo"
      class="font-extralight lg:px-8 dark:text-white"
      [innerHTML]="item.info! | truncateText: 150"
    ></div>
    <div
      *ngIf="moreInfo"
      class="lg:px-8 dark:text-white font-extralight"
      [innerHTML]="item.info!"
    ></div>
    <button
      *ngIf="item.info!.length > 150"
      class="px-3 py-1 mt-3 font-medium border border-gray-300 rounded-lg cursor-pointer hover:opacity-70 dark:bg-black dark:border-gray-800 dark:text-white"
      (click)="moreInfo = !moreInfo"
    >
      {{ !moreInfo ? 'Leer mas' : 'Leer menos' }}
    </button>
  </div>
</div>
