@tailwind base;
@tailwind components;
@tailwind utilities;

app-root {
  height: 100vh;
}

@layer utilities {
  .filter-grayscale {
    filter: grayscale(100%);
  }

  .filter-none {
    filter: grayscale(0%);
  }
}

svg-icon {
  width: 1rem;
  height: 1rem;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
