<ng-container *ngIf="!loading">
  <ng-container *ngIf="media.length > 0">
    <div @inOut class="my-2 overflow-x-auto">
      <table class="w-full whitespace-nowrap" aria-label="media">
        <tbody>
          <tr
            *ngFor="let mediaItem of media"
            class="h-16 border-b border-gray-100 rounded-lg dark:border-black dark:border-0"
          >
            <td class="pl-3">
              <div class="flex gap-3 w-80">
                <img
                  [src]="mediaItem.images! | imageArray"
                  [alt]="mediaItem.name"
                  onError
                  class="object-cover object-center w-12 h-12 rounded-lg cursor-pointer lg:h-12 lg:w-12 hover:filter-grayscale hover:scale-110 hover:duration-1000"
                  (click)="showImage(mediaItem.images![0].url!)"
                />
                <div class="flex flex-col">
                  <p
                    class="my-1 mr-2 text-lg font-extrabold leading-none text-black cursor-pointer dark:text-white hover:text-gray-600"
                    (click)="
                      goToProfile.emit({ type: 'media', media: mediaItem })
                    "
                  >
                    {{ mediaItem.name }}
                  </p>
                  <p
                    class="mt-1 text-sm font-light leading-none text-gray-500 cursor-pointer hover:text-gray-400"
                  >
                    <span
                      *ngFor="let artist of mediaItem.artists; let i = index"
                      (click)="goToOne(artist.slug)"
                    >
                      <span *ngIf="i !== 0"> & </span>
                      {{ artist.name }}
                    </span>
                  </p>
                </div>
              </div>
            </td>

            <td class="pl-3">
              <div
                class="flex gap-3 w-60"
                *ngIf="mediaItem.site.name !== 'Desconocido'"
              >
                <img
                  [src]="mediaItem.site.images | imageArray"
                  alt=""
                  class="object-cover object-center rounded-lg cursor-pointer h-9 w-9 hover:filter-grayscale hover:scale-110 hover:duration-1000"
                  (click)="showImage(mediaItem.site.image!)"
                  onError
                />
                <div class="flex flex-col">
                  <p
                    class="my-0.5 mr-2 text-base font-bold leading-none text-black dark:text-white cursor-pointer hover:text-gray-600"
                    (click)="
                      goToProfile.emit({ type: 'site', media: mediaItem })
                    "
                  >
                    {{ mediaItem.site.name }}
                  </p>
                  <div
                    *ngIf="mediaItem.site"
                    class="flex gap-1 text-sm font-light text-gray-500 cursor-pointer"
                  >
                    <img
                      [src]="
                        mediaItem.site.address.country
                          ? (mediaItem.site.address.country | countryFlag)
                          : ('es' | countryFlag)
                      "
                      [alt]="mediaItem.site.address.country"
                      class="w-3 h-3 my-1 cursor-pointer hover:scale-110 hover:duration-1000"
                    />
                    {{ mediaItem.site.address?.country ?? 'es' | countryName }}
                  </div>
                </div>
              </div>
            </td>

            <td class="pl-5">
              <span
                *ngFor="let style of mediaItem.styles; let i = index"
                class="gap-1 px-2 py-1 mr-1 text-xs text-center bg-gray-100 cursor-pointer rounded-2xl hover:bg-gray-200"
                (click)="filter.emit({ name: 'styles', value: style.name })"
              >
                {{ style.name | titlecase }}
              </span>
            </td>

            <td class="pl-5">
              <div class="w-10">
                <svg-icon [name]="mediaItem.source"></svg-icon>
              </div>
            </td>

            <td class="pl-5 text-black dark:text-white">
              {{ mediaItem.year !== 0 ? mediaItem.year : 'Año no disponible' }}
            </td>

            <td class="pl-5" *ngxPermissionsOnly="'ADMIN'">
              <div class="flex flex-col">
                <div
                  class="mr-2 text-sm font-light leading-none text-gray-700 dark:text-white"
                >
                  <span class="font-semibold">Cre:</span>
                  {{ mediaItem.created! | timeAgo }}
                </div>
                <div
                  class="mr-2 text-sm font-light leading-none text-gray-700 dark:text-white"
                >
                  <span class="font-semibold">Act:</span>
                  {{ mediaItem.updated! | timeAgo }}
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll.emit()"
    ></div>
  </ng-container>

  <div class="mt-1" *ngIf="media.length === 0">
    <alert
      type="warning"
      message="No hay {{ type }} disponibles"
      actionText="Quitar"
    ></alert>
  </div>
</ng-container>

<ng-container *ngIf="loading">
  <div class="w-full py-2">
    <div
      *ngFor="let artist of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
      class="relative h-24 my-4 overflow-hidden bg-gray-100 shadow-xl cursor-pointer dark:bg-black dark:border dark:border-gray-800 animate-pulse"
    ></div>
  </div>
</ng-container>
