<ng-container *ngIf="!loading">
  <div @inOut class="my-2 overflow-x-auto">
    <table class="w-full whitespace-nowrap">
      <tbody>
        <tr
          *ngFor="let club of clubs"
          tabindex="0"
          class="h-16 border-b border-gray-100 rounded-lg dark:border-black dark:border-0"
        >
          <td>
            <div class="w-12">
              <img
                [src]="club.image"
                [alt]="club.name"
                onError
                class="object-cover object-center w-12 h-12 cursor-pointer rounded-2xl lg:h-12 lg:w-12 hover:filter-grayscale hover:scale-105 hover:duration-1000"
                (click)="showImage(club.image!)"
              />
            </div>
          </td>
          <td class="pl-5">
            <div class="items-center">
              <p
                class="my-1 mr-2 text-base font-extrabold leading-none text-black cursor-pointer hover:text-gray-500"
                (click)="goToProfile.emit(club)"
              >
                {{ club.name }}
              </p>
              <p class="mt-1 text-sm font-light leading-none text-gray-500">
                {{
                  club.birthdate ? getYearsOld(club.birthdate) + ' años' : ''
                }}
              </p>
            </div>
          </td>
          <td>
            <div class="w-12">
              <div class="flex items-center">
                <img
                  [src]="club.address.country! | countryFlag"
                  [alt]="club.address.country"
                  class="w-6 h-6 mx-2 my-1 cursor-pointer hover:scale-110 hover:duration-1000"
                  (click)="
                    filter.emit({
                      name: 'country',
                      value: club.address.country!
                    })
                  "
                />
              </div>
            </div>
          </td>
          <td class="px-5">
            <span
              *ngFor="let style of club.styles; let i = index"
              class="gap-1 px-2 py-1 mr-1 text-xs text-center cursor-pointer rounded-2xl hover:px-2.5 hover:py-1.5 hover:duration-1000"
              (click)="filter.emit({ name: 'styles', value: style.name })"
              [ngStyle]="{
                background: style.colors?.bg ?? '',
                color: style.colors?.text ?? ''
              }"
            >
              {{ style.name | titlecase }}
            </span>
          </td>

          <td class="pl-5" *ngxPermissionsOnly="'ADMIN'">
            <div class="flex items-center">
              <p class="mr-2 text-sm font-light leading-none text-gray-700">
                {{ club.updated! | timeAgo }}
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll.emit()"
  ></div>
</ng-container>

<ng-container *ngIf="loading">
  <div class="w-full py-2">
    <div
      *ngFor="let artist of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
      class="relative h-24 my-4 overflow-hidden bg-gray-100 shadow-xl cursor-pointer animate-pulse"
    ></div>
  </div>
</ng-container>
