<ng-container *ngIf="!loading && !error">
  <div @inOut class="flex justify-between">
    <h1 class="pb-2 text-lg font-extrabold dark:text-white">
      {{ title }}
    </h1>
    <p
      class="cursor-pointer pt-0.5 md:pr-3 pb-2 text-sm font-extralight dark:text-white hover:opacity-70"
      (click)="goTo.emit({ type: type, typeRoute: 'all' })"
    >
      Ver todos
    </p>
  </div>

  <div
    class="flex gap-3 overflow-x-scroll scrollbar-hidden"
    [ngClass]="{
      'lg:mr-2.5': type === 'club',
      'lg:ml-2.5': type === 'festival'
    }"
  >
    <div *ngFor="let site of sites">
      <div @inOut class="flex flex-col w-20 py-2 text-center hover:opacity-90">
        <img
          [src]="site.images! | imageArray: 'small'"
          class="object-cover w-full h-20 shadow-lg cursor-pointer rounded-xl hover:filter-grayscale hover:scale-110 hover:duration-1000"
          alt=""
          (click)="
            goTo.emit({ type: type, typeRoute: 'one', slug: site.slug! })
          "
          onError
        />
        <p
          class="pt-2 text-xs font-light text-gray-500 cursor-pointer dark:text-white"
        >
          {{ site.name }}
        </p>
      </div>
    </div>
  </div>
</ng-container>
