<header-custom [title]="title"></header-custom>

<div class="container px-4 pt-3 mx-auto max-w-full-xl sm:pb-0 max-w-7sm">
  <buttons-block
    type="artistAdmin"
    (onClickButton)="onClickButton($event)"
  ></buttons-block>

  <admin-artist-one
    *ngIf="view === 'viewInfo'"
    [artist]="artist"
    [styles]="styles"
  ></admin-artist-one>

  <ng-container *ngIf="view === 'viewOptions'">Opciones</ng-container>
  <ng-container *ngIf="view === 'viewSets'">
    <media-view-list
      [media]="artist.sets"
      [loading]="false"
      type="sets"
      (goToProfile)="goToProfile($event)"
    ></media-view-list>
  </ng-container>
  <ng-container *ngIf="view === 'viewTracks'">
    <media-view-list
      [media]="artist.tracks"
      [loading]="false"
      type="tracks"
      (goToProfile)="goToProfile($event)"
    ></media-view-list>
  </ng-container>
  <ng-container *ngIf="view === 'viewEvents'">Events</ng-container>
</div>
