<div class="container px-4 py-3 mx-auto max-w-full-xl sm:pb-0 max-w-7sm">
  <div class="" style="padding-top: 4.25rem">
    <div class="md:col-span-9">
      <iframe
        class="w-full my-0 rounded-2xl"
        *ngIf="media.source === 'youtube'"
        width="560"
        height="315"
        [src]="getVideoUrl()"
        allowfullscreen
        [title]="media.name"
      ></iframe>

      <p
        (click)="goToEdit()"
        *ngxPermissionsOnly="'ADMIN'"
        class="pt-3 text-2xl font-black text-center cursor-pointer md:text-left"
      >
        {{ title }}
      </p>
      <p
        *ngxPermissionsExcept="'ADMIN'"
        class="pt-3 text-2xl font-black text-center md:text-left"
      >
        {{ title }}
      </p>
      <div class="my-2">
        <div class="flex justify-center gap-2 md:justify-start">
          <div *ngFor="let style of media.styles">
            <div
              class="flex gap-4 px-2 py-1 text-white bg-black border cursor-pointer rounded-xl hover:bg-gray-800 hover:text-gray-100"
            >
              <p class="font-semibold">{{ style.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="md:col-span-3">
      <!-- ARTIST -->
      <div class="flex flex-col gap-3 mx-2 md:flex-row">
        <div class="w-full mx-auto" *ngFor="let artist of media.artists">
          <div
            class="flex gap-4 px-2 py-2 my-1.5 bg-gray-100 shadow-md cursor-pointer rounded-xl hover:opacity-80"
            (click)="goToProfile(artist.slug)"
          >
            <img
              [src]="artist.images! | imageArray"
              alt="artist.name"
              class="object-cover w-14 h-14 rounded-2xl"
            />
            <div class="flex flex-col">
              <p class="text-lg font-extrabold">{{ artist.name }}</p>
              <div class="flex gap-2 font-light text-gray-500">
                <img [src]="artist.country | countryFlag" alt="" />
                {{ artist.country | countryName }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="my-2">{{ media.info }}</p>
  </div>
</div>
