<div
  @inOut
  class="grid grid-cols-1 gap-3 pb-4 my-3 overflow-x-auto lg:grid-cols-3"
  *ngIf="!loading"
>
  <div
    *ngFor="let style of styles"
    class="w-full text-center border rounded-md shadow-md cursor-pointer px-auto hover:opacity-80"
    [ngStyle]="{
      background: style.colors.bg,
      color: style.colors.text
    }"
    [routerLink]="['one/', style._id]"
  >
    <div class="px-2 mt-3 text-2xl font-semibold">
      {{ style.name }}
    </div>

    <div class="grid w-full grid-cols-3 gap-2 px-1 pt-0">
      <div class="p-3 text-center">
        <div class="text-sm text-opacity-80" [class]="style.colors.text">
          Artistas
        </div>
        <div class="text-xl font-bold">{{ style.artists?.count ?? 0 }}</div>
      </div>
      <div class="p-3 text-center">
        <div class="text-sm text-opacity-80" [class]="style.colors.text">
          Sets
        </div>
        <div class="text-xl font-bold">{{ style.sets?.count ?? 0 }}</div>
      </div>
      <div class="p-3 text-center">
        <div class="text-sm text-opacity-80" [class]="style.colors.text">
          Tracks
        </div>
        <div class="text-xl font-bold">{{ style.tracks?.count ?? 0 }}</div>
      </div>
    </div>
  </div>
</div>
<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll.emit()"
></div>

<ng-container *ngIf="loading">
  <div class="w-full py-2">
    <div
      *ngFor="let artist of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
      class="relative h-24 my-4 overflow-hidden bg-gray-100 shadow-xl cursor-pointer animate-pulse"
    ></div>
  </div>
</ng-container>
