<div class="w-full border rounded-xl">
  <p class="p-2 text-lg text-center bg-gray-100 border-b">Top Paises</p>
  <div
    *ngFor="let country of countries; let i = index"
    class="items-center content-center m-2 my-2 cursor-pointer"
    (click)="goToFilter(country.id)"
  >
    <div
      class="flex justify-center gap-2 py-2 font-medium"
      [ngClass]="{ 'border-b': i !== countries.length - 1 }"
    >
      <img [src]="country.id | countryFlag" alt="" />{{ country.name }}
      <p class="px-2 py-0 pt-1 text-xs bg-gray-100 rounded-3xl">
        {{ country.total }}
      </p>
    </div>
  </div>
</div>
