<div class="grid grid-cols-4 gap-2">
  <div class="col-span-2 mb-1 md:col-span-2">
    <label
      for="web"
      class="block mb-1 text-base font-extrabold text-black dark:text-white"
    >
      Web
    </label>
    <input
      name="web"
      type="text"
      [(ngModel)]="item.social.web"
      placeholder="Introduce Web"
      class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-md dark:border-gray-700 dark:text-white dark:bg-black rounded-y-md ring-red-500 dark:ring-red-500"
    />
  </div>
  <div class="col-span-2 mb-1 md:col-span-2">
    <label
      for="facebook"
      class="block mb-1 text-base font-extrabold text-black dark:text-white"
    >
      Facebook
    </label>
    <input
      name="facebook"
      type="text"
      [(ngModel)]="item.social.facebook"
      placeholder="Introduce Facebook"
      class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-md dark:border-gray-700 dark:text-white dark:bg-black rounded-y-md ring-red-500 dark:ring-red-500"
    />
  </div>
  <div class="col-span-2 mb-1 md:col-span-2">
    <label
      for="twitter"
      class="block mb-1 text-base font-extrabold text-black dark:text-white"
    >
      Twitter
    </label>
    <input
      name="twitter"
      type="text"
      [(ngModel)]="item.social.twitter"
      placeholder="Introduce Ttwitter"
      class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-md dark:border-gray-700 dark:text-white dark:bg-black rounded-y-md ring-red-500 dark:ring-red-500"
    />
  </div>
  <div *ngIf="type === 'artist'" class="col-span-2 mb-1 md:col-span-2">
    <label
      for="soundcloud"
      class="block mb-1 text-base font-extrabold text-black dark:text-white"
    >
      Soundcloud
    </label>
    <div class="flex">
      <input
        name="soundcloud"
        type="text"
        [(ngModel)]="item.social.soundcloud"
        placeholder="Introduce Soundcloud"
        class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-l-md dark:border-gray-700 dark:text-white dark:bg-black rounded-y-md ring-red-500 dark:ring-red-500"
      />
      <button
        class="px-3 bg-gray-100 rounded-r-lg cursor-pointer dark:bg-gray-800 hover:opacity-80"
        (click)="searchSoundcloud()"
      >
        <svg-icon class="dark:text-white" name="search"></svg-icon>
      </button>
    </div>
    <div
      @inOut
      class="absolute z-10 w-48 mt-1 bg-white border rounded-lg shadow-lg"
      *ngIf="soundcloudNames.length > 0"
    >
      <div
        class="flex px-3 py-2 border-b cursor-pointer hover:bg-gray-200"
        *ngFor="let itemS of soundcloudNames"
        (click)="onSelectSoundcloud(itemS)"
      >
        <img
          *ngIf="itemS.image"
          [src]="itemS.image"
          alt=""
          class="w-10 h-10 mr-3 rounded-full"
          onError
        />
        <div class="flex flex-col">
          <span class="text-sm font-medium">{{ itemS?.name }}</span>
          <span class="text-sm font-light" *ngIf="itemS.country">
            {{ itemS?.country! | lowercase | countryName }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="type === 'artist'" class="col-span-2 mb-1 md:col-span-2">
    <label
      for="spotify"
      class="block mb-1 text-base font-extrabold text-black dark:text-white"
    >
      Spotify
    </label>
    <input
      name="spotify"
      type="text"
      [(ngModel)]="item.social.spotify"
      placeholder="Introduce Spotify"
      class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-md dark:border-gray-700 dark:text-white dark:bg-black rounded-y-md ring-red-500 dark:ring-red-500"
    />
  </div>

  <div *ngIf="type === 'artist'" class="col-span-2 mb-1 md:col-span-2">
    <label
      for="tiktok"
      class="block mb-1 text-base font-extrabold text-black dark:text-white"
    >
      TikTok
    </label>
    <input
      name="tiktok"
      type="text"
      [(ngModel)]="item.social.tiktok"
      placeholder="Introduce Tiktok"
      class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-md dark:border-gray-700 dark:text-white dark:bg-black rounded-y-md ring-red-500 dark:ring-red-500"
    />
  </div>

  <div class="col-span-2 mb-1 md:col-span-2">
    <label
      for="instagram"
      class="block mb-1 text-base font-extrabold text-black dark:text-white"
    >
      Instagram
    </label>
    <input
      name="instagram"
      type="text"
      [(ngModel)]="item.social.instagram"
      placeholder="Introduce Instagram"
      class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-md dark:border-gray-700 dark:text-white dark:bg-black rounded-y-md ring-red-500 dark:ring-red-500"
    />
  </div>
  <div class="col-span-2 mb-1 md:col-span-2">
    <label
      for="youtube"
      class="block mb-1 text-base font-extrabold text-black dark:text-white"
    >
      Youtube
    </label>
    <div class="flex">
      <input
        name="youtube"
        type="text"
        [(ngModel)]="item.social.youtube"
        placeholder="Introduce Youtube"
        class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-l-md dark:border-gray-700 dark:text-white dark:bg-black rounded-y-md ring-red-500 dark:ring-red-500"
      />
      <button
        class="px-3 bg-gray-100 rounded-r-lg cursor-pointer dark:bg-gray-800 hover:opacity-80"
        (click)="searchYoutube()"
      >
        <svg-icon class="dark:text-white" name="search"></svg-icon>
      </button>
    </div>
    <div
      @inOut
      class="absolute z-10 w-48 mt-1 bg-white border rounded-lg shadow-lg"
      *ngIf="youtubeNames.length > 0"
    >
      <div
        class="flex px-3 py-2 border-b cursor-pointer hover:bg-gray-200"
        *ngFor="let itemS of youtubeNames"
        (click)="onSelectYoutube(itemS)"
      >
        <img
          *ngIf="itemS.image"
          [src]="itemS.image"
          alt=""
          class="w-10 h-10 mr-3 rounded-full"
          onError
        />
        <div class="flex flex-col">
          <span class="text-sm font-medium">{{ itemS?.name }}</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="type === 'artist'" class="col-span-2 mb-1 md:col-span-4">
    <label
      for="mixcloud"
      class="block mb-1 text-base font-extrabold text-black dark:text-white"
    >
      Mixcloud
    </label>
    <input
      name="mixcloud"
      type="text"
      [(ngModel)]="item.social.mixcloud"
      placeholder="Introduce Mixcloud"
      class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-md dark:border-gray-700 dark:text-white dark:bg-black rounded-y-md ring-red-500 dark:ring-red-500"
    />
  </div>

  <div *ngIf="type === 'site'" class="col-span-2 mb-1 md:col-span-2">
    <label
      for="mixcloud"
      class="block mb-1 text-base font-extrabold text-black dark:text-white"
    >
      RA
    </label>
    <input
      name="ra"
      type="text"
      [(ngModel)]="item.social.ra"
      placeholder="Introduce RA"
      class="w-full px-6 text-base font-medium bg-white border border-gray-200 rounded-md dark:border-gray-700 dark:text-white dark:bg-black rounded-y-md ring-red-500 dark:ring-red-500"
    />
  </div>
</div>
